.alarmContainer{
  width: 100%;
  height: 100%;
}

.alarmLeftLayout{
  width: calc(60% - 9px);
  height: 100%;
  float: left;
  margin-right: 5px;
}

.alarmListFilterBox{
  width: 100%;
  height: 50px;
}

.alarmRightLayout{
  width: 40%;
  height: 100%;
  float: left;
}

.grayLine{
  width: 98%;
  margin: 0 1%;
  height: 2px;
  background-color: #efecec;
}

.alarmBtnBox{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.alarmGrid{
  width: 100%;
  height: calc(100% - 60px);
}

.alarmDetailStatus{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efecec;
}

.alarmDetailStatus .statusLeft,
.alarmDetailStatus .statusRight{
  width: calc(50% - 1px);
  height: 100%;
}

.alarmDetailStatus .detailStatusBox{
  width: 33%;
  height: 100%;
  float: left;
}

.detailStatusHorizontalLine{
  width: 2px;
  height: 40%;
  background-color: #b9b9b9;
}

.alarmDetailStatus .detailStatusBox .detailLable,
.alarmDetailStatus .detailStatusBox .datailValue{
  width: 100%;
  height: 50%;
  display: flex;

  justify-content: center;
}

.alarmDetailStatus .detailStatusBox .detailLable{
  font-size: 12px;
  align-items: flex-end;
}

.alarmDetailStatus .detailStatusBox .datailValue{
  font-size: 16px;
  align-items: flex-start;
}

.alarmDetailStatus .detailStatusBox .labelColorGreen{
  color: rgb(20, 223, 20);
}

.alarmDetailStatus .detailStatusBox .labelColorBlue{
  color: rgb(64, 64, 233);
}

.alarmDetailStatus .detailStatusBox .labelColorOrange{
  color: rgb(248, 181, 56);
}

.alarmDetailStatus .detailStatusBox .labelColorRed{
  color: rgb(241, 81, 81)
}

.alarmDetailStatus .detailStatusBox .labelColorYellow{
  color: rgb(230, 230, 36);
}

.alarmDetailStatus .detailStatusBox .labelColorIndigo{
  color: rgb(89, 7, 148)
}

.alarmDetailContents{
  width: 100%;
  height: calc(100% - 80px);
}

.alarmTitle{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.alarmDetailArea{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efecec;
}

.alarmTitle .titleBar{
  width: 7px;
  height: 60%;
  background-color: #49a6fd;
  margin: 0 10px;
}

.alarmTitle .titleText{
  width: calc(95% - 20px);
  height: 100;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.alarmArea{
  width: 100%;
  height: 100%;
}


.alarmAreaLeft,
.alarmAreaRight {
  width: 50%;
  height: 100%;
}

.alarmDetailFild,
.alarmComment{
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.alarmDetailFild .alarmfildLable{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
  color: rgb(155, 148, 148);
  font-size: 14px;
}

.alarmDetailFild .alarmfildValue{
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.alarmDetailCarInformation{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efecec;

}

.alarmDetailTest{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efecec;
}
.alarmDetailIssue{
  width: 100%;
  height: 250px;
}
.alarmDetailMap{
  width: 100%;
  height: 150px;
}


#map{
  height: calc(100% - 15px);
}

.checkboxTooltip{
  visibility: hidden;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltipTitle{
  min-width: 150px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tooltipTitle img{
  right: 0;
  position: absolute;
}

.openFilterTooltip{
  visibility: visible;
}

.checkboxTooltip section{
  max-height: 500px;
  overflow: scroll;
}

.gridBtn{
  display: flex;
  position: absolute;
  right: 130px;
}

.commentUser{
  padding: 0 10px;
  width: 150px;
  text-align: end;
}

.comment{
  width: calc(100% - 200px);
  padding: 0 10px;
}

.comment .text{
  float: left;
}

.commentDate{
  float: left;
  font-size: 12px;

}

.commentCreateTime{
  width: 120px;
  font-size: 12px;
}

.commentList{
  width: 100%;
  height: calc(100% - 150px);
  overflow-y: scroll;
}
