<div class="alarmContainer">

  <div class="alarmLeftLayout whiteBoardBoax">
    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text">
        </div>
      </div>

      <div class="filter">
        <div class="label">Select Box 1</div>
        <div class="value">
          <select>
            <option selected>All</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">Select Box 2</div>
        <div class="value">
          <select>
            <option selected>All</option>
          </select>
        </div>
      </div>

      <div class="filter searchFilter">
        <div class="btn">
          Search
        </div>
      </div>
    </div>
    <div class="grayLine"></div>

    <div class="alarmBtnBox">
      <div class="defaultButton"> Button1 </div>
      <div class="defaultButton"> Button2 </div>
      <div class="defaultButton"> Button3 </div>

      <div style="display: flex; position: absolute; right: 60px;">
        <!--<label class="excel_btn" for="uploadExcel1">
          <img src="assets/icon/excel_upload.png">
        </label>

        <input id="uploadExcel1" type="file" style="display: none;">
        -->
        <div class="excel_btn" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>
      </div>

      <div class="linkDiv">LINK</div>
    </div>

    <div class="alarmGrid">
      <ag-grid-angular #alarmGrid style="width: 100%; height: calc(100% - 50px)"  (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="vehiclewarning.warnings"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>


    </div>
  </div>


  <div class="alarmRightLayout whiteBoardBoax">
    <div class="alarmDetailStatus">

      <div class="detailStatusBox">
        <div class="detailLable labelColorGreen">
          label 1
        </div>
        <div class="datailValue">
          123
        </div>
      </div>

      <div class="detailStatusHorizontalLine"></div>

      <div class="detailStatusBox">
        <div class="detailLable labelColorBlue">
          label 2
        </div>
        <div class="datailValue">
          123
        </div>
      </div>

      <div class="detailStatusHorizontalLine"></div>

      <div class="detailStatusBox">
        <div class="detailLable labelColorOrange">
          label 3
        </div>
        <div class="datailValue">
          123
        </div>
      </div>


      <div class="detailStatusHorizontalLine"></div>

      <div class="detailStatusBox">
        <div class="detailLable labelColorRed">
          label 4
        </div>
        <div class="datailValue">
          123
        </div>
      </div>

      <div class="detailStatusHorizontalLine"></div>

      <div class="detailStatusBox">
        <div class="detailLable labelColorYellow">
          label 5
        </div>
        <div class="datailValue">
          123
        </div>
      </div>

      <div class="detailStatusHorizontalLine"></div>

      <div class="detailStatusBox">
        <div class="detailLable labelColorIndigo">
          label 6
        </div>
        <div class="datailValue">
          123
        </div>
      </div>
    </div>

    <div class="alarmDetailContents">
      <div class="alarmTitle">
        <app-sub-title [title]="'TITLE'"></app-sub-title>
      </div>

      <div class="alarmDetailArea">
        <div class="alarmAreaLeft">
          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 1</div>
            <div class="alarmfildValue"> Value 1</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 2</div>
            <div class="alarmfildValue"> Value 2</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 3</div>
            <div class="alarmfildValue"> Value 3</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 4</div>
            <div class="alarmfildValue"> Value 4</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 5</div>
            <div class="alarmfildValue"> Value 5 </div>
          </div>
        </div>
        <div class=" alarmAreaRight">
          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 1</div>
            <div class="alarmfildValue"> Value 1</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 2</div>
            <div class="alarmfildValue"> Value 2</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 3</div>
            <div class="alarmfildValue"> Value 3</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 4</div>
            <div class="alarmfildValue"> Value 4</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 5</div>
            <div class="alarmfildValue"> Value 5 </div>
          </div>
        </div>
      </div>


      <div class="alarmTitle">
        <app-sub-title [title]="'TITLE'"></app-sub-title>
      </div>

      <div class="alarmDetailCarInformation">
        <div class="alarmAreaLeft">
          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 1</div>
            <div class="alarmfildValue"> Value 1</div>
          </div>

          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 2</div>
            <div class="alarmfildValue"> Value 2</div>
          </div>
        </div>

        <div class="alarmAreaRight">
          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 1</div>
            <div class="alarmfildValue"> Value 1</div>
          </div>
        </div>
      </div>

      <div class="alarmTitle">
        <app-sub-title [title]="'TITLE'"></app-sub-title>
      </div>

      <div class="alarmDetailTest">
        <div class="alarmAreaLeft">
          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 1</div>
            <div class="alarmfildValue"> Value 1</div>
          </div>
        </div>

        <div class="alarmAreaRight">
          <div class="alarmDetailFild">
            <div class="alarmfildLable">label 1</div>
            <div class="alarmfildValue"> Value 1</div>
          </div>
        </div>
      </div>

      <div class="alarmTitle">
        <app-sub-title [title]="'TITLE'"></app-sub-title>
      </div>

      <div class="alarmDetailMap">

        <div class="map" id="map"></div>

      </div>

    </div>
  </div>
</div>
