<div class="monitoringVehicleContainer">

  <div class="monitoringDetailLine">
    <div class="label">EV Ready</div>
    <div class="value">Starting</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Charge Status</div>
    <div class="value">Charging</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Run Mode</div>
    <div class="value">Electric</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Vehicle Speed(km/h)</div>
    <div class="value">0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">AccumulatedMile(km)</div>
    <div class="value">109.3</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">PTB Out Voit(V)</div>
    <div class="value">35.3</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">PTB Out Arm(A)</div>
    <div class="value">-999.7</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">SOC(%)</div>
    <div class="value">98</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">DC-DC Status</div>
    <div class="value">Start</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Accel</div>
    <div class="value">Off</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Brake</div>
    <div class="value">On</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Gear State</div>
    <div class="value">P</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Insulation Resistancel(kΩ)</div>
    <div class="value">5161</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Accelerator Pedal Status</div>
    <div class="value">0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Brake Pedal Status</div>
    <div class="value">38</div>
  </div>

</div>
