<div class="warningStatisticsContainer">

  <div class="warningStatisticsLayout">
    <div class="statusContents">
      <div class="status">
        <div class="statusBox">
          <div class="statusLabel">소유차량</div>
          <div class="statusValue">3,840,653</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusLabel">이달의 새로운 방문 차량</div>
          <div class="statusValue">60,003</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusLabel">매월차량이용</div>
          <div class="statusValue">3,840,653</div>
        </div>
      </div>
    </div>
  </div>


  <div class="contentRightLayout">
    <app-sub-title [title]="'차량 유통 내역'"></app-sub-title>
    <div id="map"></div>
  </div>

  <div class="contetnsDivisionLine"></div>

  <div class="contentLeftLayout">
    <app-sub-title [title]="''"></app-sub-title>
    <div id="chinaMapChart"></div>
  </div>
</div>
