<div class="warningStatisticsContainer">

  <div class="warningStatisticsLayout">
    <div class="statusContents">
      <div class="status">
        <div class="statusBox">
          <div class="statusValue">{{registrationSummary.totalVehicles}}</div>
          <div class="statusLabel">{{ 'Total Vehicles' | translate }}</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">{{registrationSummary.newVehicles}}</div>
          <div class="statusLabel">{{ 'New Vehicles' | translate }}</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">{{registrationSummary.useVehicles}}</div>
          <div class="statusLabel">{{ 'Use Vehicles' | translate }}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="contentRightLayout">
    <app-sub-title [title]="'PROVINCE' | translate"></app-sub-title>

    <div id="chinaMapChart"></div>

    <!--<div id="map"></div>-->
  </div>

  <div class="contentLeftLayout">
    <app-sub-title [title]="'CITY' | translate"></app-sub-title>
    <div id="cityMapChart"></div>
  </div>
</div>
