<app-sub-title *ngIf="currentUser.authorityId == 'service-admin'" [title]="'Remote control'"></app-sub-title>
<div class="gridFilterBox">
  <div class="filter">
    <div class="label">VIN</div>
    <div class="value">
      <input type="text" [(ngModel)]="searchFilter.vin" (keydown.enter)="getDevicemanagersVehicles()">
    </div>
  </div>

  <div class="filter">
    <div class="label">firmware</div>
    <div class="value">
      <input type="text" [(ngModel)]="searchFilter.firmware" (keydown.enter)="getDevicemanagersVehicles()">
    </div>
  </div>

  <div class="filter">
    <div class="label">configure</div>
    <div class="value">
      <input type="text" [(ngModel)]="searchFilter.configure" (keydown.enter)="getDevicemanagersVehicles()">
    </div>
  </div>

  <div class="filter searchFilter">
    <div class="btn" (click)="getDevicemanagersVehicles()">
      Search
    </div>
  </div>
</div>


<div class="remoteControlGridBox" [ngClass]="{'service-admin': currentUser.authorityId == 'service-admin'}">

  <ag-grid-angular style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    [alwaysShowHorizontalScroll]="true"
    [alwaysShowVerticalScroll]="true"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

</div>
