<div class="addRegisterRemoteSettingContainer">

  <div class="popupTitle">
    <div class="text">
      Register remote setting
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">configure name <span>*</span> </div>
    <div class="value">
      <input type="text" [(ngModel)]="configureName">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Car Local Save Period </div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.carLocalSavePeriod">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Normal Submit Period</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.normalSubmitPeriod">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Warning Submit Period</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.warningSubmitPeriod">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Manage Platform Name</div>
    <div class="value">
      <input type="text" [(ngModel)]="configureData.managePlatformName">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Manage Platform Port</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.managePlatformPort">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">hw Version</div>
    <div class="value">
      <input type="text" [(ngModel)]="configureData.hwVersion">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">fw Version</div>
    <div class="value">
      <input type="text" [(ngModel)]="configureData.fwVersion">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Car Heart Beat Period</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.carHeartBeatPeriod">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Car Response Timeout</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.carResponseTimeout">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Platform Response Timeout</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.platformResponseTimeout">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Next Login Interval</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.nextLoginInterval">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Public Platform Name</div>
    <div class="value">
      <input type="text" [(ngModel)]="configureData.publicPlatformName">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Public Platform Port</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.publicPlatformPort">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Monitoring</div>
    <div class="value">
      <input type="number" [(ngModel)]="configureData.monitoring">
    </div>
  </div>

  <div class="btnBox">
    <div class="btn add" *ngIf="data.type == constant.ADD_TYPE" (click)="addConfiguration()">
      Add
    </div>
    <div class="btn modify" *ngIf="data.type == constant.MODIFY_TYPE" (click)="modifyConfiguration()">
      Modify
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>


</div>
