<div class="addRegisterRemoteSettingContainer">

  <div class="popupTitle">
    <div class="text">
      Register remote setting
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">configure name <span>*</span> </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">car local save cycle (ms) </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">normal transmission cycle (ses)</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">warning transmission cycle (ms)</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">manage platform name</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">manage platform port</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">hardware Version(sw)</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">firmware Version</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">car heartBeat cycle (ses) </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">car response timeout (ses) </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">platform response timeout (ses) </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">next login interval (ses)</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">public platform name </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">public platform port</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">monitoring</div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="btnBox">
    <div class="btn add" *ngIf="data.type == constant.ADD_TYPE" >
      Add
    </div>
    <div class="btn modify" *ngIf="data.type == constant.MODIFY_TYPE">
      Modify
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>


</div>
