<div class="addUserConatiner">

  <div class="popupTitle">
    <div class="text">
      User Profile
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">E-mail <span>*</span> </div>
    <div class="value">
      <input type="text" [(ngModel)]="addUserParameter.email">
    </div>
  </div>
  <div class="addInfoFilter">
    <div class="label"> User Name <span>*</span> </div>
    <div class="value">
      <input type="text" [(ngModel)]="addUserParameter.username">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> authority ID <span>*</span> </div>
    <div class="value">
      <select  [(ngModel)]="addUserParameter.authorityId">
        <option [value]='""' disabled></option>
        <option [value]='"admin"'>admin</option>
        <option [value]='"service-admin"'>service-admin</option>
        <option [value]='"poweruser"'>poweruser</option>
        <option [value]='"user"'>user</option>
      </select>
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> Phone Number </div>
    <div class="value">
      <select [(ngModel)]="phoneCountryCode" style="margin-right: 10px; width: 120px;">
        <option [value]="'+1'">+1 USA</option>
        <option [value]="'+82'">+82 Korea</option>
        <option [value]="'+86'">+86 China</option>
      </select>
      <input type="number" [OnlyNumber]="true" [(ngModel)]="phoneNumber">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> company </div>
    <div class="value">
      <input type="text" [(ngModel)]="company">
    </div>
  </div>

  <div class="btnBox">

    <div class="btn add" *ngIf="data.type == constant.ADD_TYPE" (click)="addUser()">
      Add
    </div>

    <div class="btn modify" *ngIf="data.type == constant.MODIFY_TYPE" (click)="modifyUser()">
      Modify
    </div>

    <div class="btn cancel" (click)="close()">
      Cancel
    </div>

  </div>
</div>
