<div class="gridFilterBox">
  <div class="filter">
    <div class="label">VIN</div>
    <div class="value">
      <input type="text" [(ngModel)]="searchFilter.vin" (keydown.enter)="setSearch()">
    </div>
  </div>

  <div class="filter">
    <div class="label">Start Date</div>
    <div class="value" style="display: flex; align-items: center;">
      <input class="datePickerText" [ngxMatDatetimePicker]="startPicker" readonly="true" (click)="startPicker.open()" [max]="endDate" [(ngModel)]="beginDate">
      <mat-icon matDatepickerToggleIcon style="cursor: pointer;" (click)="clearBeginDate()">clear</mat-icon>
      <ngx-mat-datetime-picker #startPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
    </div>
  </div>

  <div class="filter">
    <div class="label">End Date</div>
    <div class="value" style="display: flex; align-items: center;">
      <input class="datePickerText" [ngxMatDatetimePicker]="endPicker" readonly="true" (click)="endPicker.open()" [(ngModel)]="endDate" [min]="beginDate">
      <mat-icon matDatepickerToggleIcon style="cursor: pointer;" (click)="clearEndDate()">clear</mat-icon>
      <ngx-mat-datetime-picker #endPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
    </div>
  </div>

  <div class="filter searchFilter">
    <!--<div class="excel_btn selectItem" (click)="onBtExport()">
      <img src="assets/icon/excel_download.png">
    </div>
    -->
    <div class="btn" (click)="setSearch()">
      Search
    </div>
  </div>
</div>


<div class="datectErrorContents">
  <ag-grid-angular #locationJumpGrid style="width: 100%; height: calc(100% - 50px)" (window:resize)="onResize($event)"
    class="ag-theme-alpine"
    [rowData]="errorPacketList.entities"
    [columnDefs]="columnDefs"
    [tooltipShowDelay]="0"
    (gridReady)="onGridReady($event)"
    (filterChanged)="changeFilter()">
  </ag-grid-angular>

  <div style="width: 100%; height: 50px;">
    <app-grid-page [gridNumber]="1"></app-grid-page>
  </div>
</div>
