<div class="loginMainContainer">

  <div class="loginLayout">
    <div class="header">
      <img src="assets/icon/nems_logo.png">
    </div>

    <div class="loginForm">
      <div class="label" >Email</div>
      <div class="inputBox">
        <input #ID type="text" [placeholder]="idPlaceholderText" (keyup.enter)="passwordInput.focus()" [(ngModel)]="id" >
        <div class="errorMessage" *ngIf="isIdError">{{isIdErrorMessage}}</div>
      </div>
      <div class="label">Password</div>
      <div class="inputBox">
        <input #passwordInput type="password" [placeholder]="passwordPlaceholderText" (keyup.enter)="checkUser()" [(ngModel)]="pw" >
        <div class="errorMessage" *ngIf="isPasswordError">{{isPasswordErrorMessage}}</div>
      </div>
      <div class="loginBtnBox">
        <div Class="loginBtn" (click)="checkUser()">Sign in</div>
      </div>


      <div class="languageBox">
        <div class="language">
          <img src="assets/icon/chinese_flag_icon.png">
        </div>
        <div class="language">
          <img src="assets/icon/american_flag_icon.png">
        </div>
      </div>


    </div>

    <div class="footer">
      <div class="footerText"> Copyright @ 2022 OOOOOO All right reserved.
      </div>
    </div>
  </div>
</div>
