<div class="publicPlatformManagementContainer">
  <div class="publicPlatformManagementLayout">
    <div class="gridFilterBox">
      <!--<div class="btn add" (click)="addManagement()">
        Add
      </div>
      -->
      <div class="iconBtnBox">

        <!--<div class="excel_btn" [ngClass]="{'selectItem': managementGridApi != null && managementGridApi.getSelectedRows().length != 0}" (click)="sendManagement()">
          <img src="assets/icon/send.png">
        </div>
        -->
        <!--<div class="excel_btn" [ngClass]="{'selectItem': managementGridApi != null && managementGridApi.getSelectedRows().length != 0}" (click)="modifyManagement()">
          <img src="assets/icon/edit.png">
        </div>

        <div class="excel_btn" [ngClass]="{'selectItem': managementGridApi != null && managementGridApi.getSelectedRows().length != 0}" (click)="deleteManagement()">
          <img src="assets/icon/delete.png">
        </div>
        -->

        <div class="excel_btn selectItem" (click)="addManagement()">
          <img src="assets/icon/add-button.png">
        </div>

        <!--<label class="excel_btn selectItem" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">

        <div class="excel_btn selectItem" (click)="onBtExport('management')">
          <img src="assets/icon/excel_download.png">
        </div>
        -->
      </div>

    </div>

    <div style="width: 100%; height: calc(100% - 50px)">
      <ag-grid-angular #publicPlatformManagementGrid1 style="width: 100%; height: calc(100% - 50px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="forwarding.entities"
        [columnDefs]="forwardingColumnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onServerGridReady($event)"
        (rowClicked)="onForwardingRowClick($event)">
      </ag-grid-angular>
      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>
    </div>
  </div>

  <div class="publicPlatformMappingLayout">
    <div class="gridFilterBox">
      <!--<div class="btn add" [ngClass]="{'buttonDisable': selectForwardingServerName == null}" (click)="addMapping()">
        Add
      </div>
      -->
      <div style="font-family: auto;">
        Server Name : <span style="font-size: 16px; color: black; font-weight: bold;">{{selectForwardingServerName != null ? selectForwardingServerName : ""}}</span>
      </div>

      <div class="iconBtnBox">
        <!--<div class="excel_btn" [ngClass]="{'selectItem': mappingGridApi != null && mappingGridApi.getSelectedRows().length != 0}" (click)="deleteMapping()">
          <img src="assets/icon/delete.png">
        </div>
        -->

        <div class="excel_btn selectItem" (click)="addMapping()">
          <img src="assets/icon/add-button.png">
        </div>

        <!--<label class="excel_btn selectItem" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">

        <div class="excel_btn selectItem" (click)="onBtExport('mapping')">
          <img src="assets/icon/excel_download.png">
        </div>
        -->
      </div>

    </div>

    <div style="width: 100%; height: calc(100% - 50px)">
      <ag-grid-angular #publicPlatformManagementGrid2 style="width: 100%; height: calc(100% - 50px)"
        class="ag-theme-alpine"
        [rowData]="relations.entities"
        [columnDefs]="relationsColumnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onMappingGridReady($event)">
      </ag-grid-angular>
      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="2"></app-grid-page>
      </div>
    </div>
  </div>
</div>
