.subTitleContainer{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

.subTitleBar{
  width:8px;
  height: 8px;
  background-color: red;
  margin-left: 15px;
}

.subTitleText{
  font-size: 13px;
  margin-left: 5px;
}
