<div class="modifyAlarmConatiner">

  <div class="popupTitle">
    <div class="text">
      ALARM - {{data.alarm.vin}}
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">Create Time </div>
    <div class="value">
      <div>{{alarm.warningIssue.createTime | dateformat}}</div>
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">State </div>
    <div class="value">
      <select [(ngModel)]="alarm.warningIssue.state">
        <option [value]="'UNKNOWN'">UNKNOWN</option>
        <option [value]="'OPEN'">OPEN</option>
        <option [value]="'PROGRESS'">PROGRESS</option>
        <option [value]="'RESOLVED'">RESOLVED</option>
        <option [value]="'CLOSED'">CLOSED</option>
        <option [value]="'ERROR'">ERROR</option>
      </select>
    </div>
  </div>

  <div class="addInfoFilter" style="height: auto;">
    <div class="label">Comments </div>
    <div class="value" style="display: block;">
      <div class="comment" *ngFor="let comment of alarm.comments">
        <div class="commentText">
          {{comment.comment}}
        </div>

        <div class="commentRemove" (click)="commentRemove(comment)">
          <img class="btn" src="assets/icon/close_icon.png">
        </div>

      </div>
    </div>
  </div>

  <div class="addInfoFilter" style="height: auto; margin-top: 30px;">

    <textarea rows="5" cols=30 wrap="hard" style="max-width: 400px; min-width: 400px; max-height: 40px; min-height: 40px;" [(ngModel)]="commentsText"></textarea>

    <div class="commentAddBtn" (click)="commentAdd()"> ADD </div>

  </div>

  <div class="btnBox">
    <div class="btn modify" (click)="modifyAlarm()" >
      Modify
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>
</div>
