<div class="infoDetailConatiner">

  <div class="popupTitle">
    <div class="text">
      INFO - {{titleType}} : {{data.info.vin}}
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>


  <div class="popupContents">
    <div class="row" *ngFor="let keyValue of keyValueList">
      <div *ngFor="let value of keyValue | keyvalue; index as i;" [ngClass]="{'rowLeft': i == 0, 'rowRight': i != 0}">
        {{value.value}}
      </div>
    </div>
  </div>
</div>
