<div class="OTAInformationConatiner">

  <div class="OTAInformationLayout whiteBoardBoax"  >
    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.vin" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">iccid</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.iccid" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">nemsSn</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.nemsSn" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">registrationPlate</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.registrationPlate" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">region</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.region" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">pcode</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.pcode" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>


      <div class="filter searchFilter">

        <!--<label class="excel_btn" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">
        -->
        <div class="excel_btn" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>

        <div class="btn" (click)="getVehiclemanagerStaticinfo()">
          Search
        </div>
      </div>
    </div>

    <div class="OTAInformationContents">
      <ag-grid-angular style="width: 100%; height: 100%"
        class="ag-theme-alpine"
        [rowData]="vehicleList"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="20"
        [tooltipShowDelay]="0"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>

  </div>
</div>
