<div class="OTAInformationConatiner">

  <div class="OTAInformationLayout whiteBoardBoax"  >
    <div class="gridFilterBox">

      <div class="filter">
        <div class="label">{{ 'Filter' | translate }}</div>
        <div class="value">
          <select [(ngModel)]="filter">
            <option [value]="'VIN'">{{ 'VIN' | translate }}</option>
            <option [value]="'firmware_name'">{{ 'Firmware Name' | translate }}</option>
          </select>
        </div>
      </div>

      <div class="filter"  style="width: calc(100% - 400px);">
        <div class="label"></div>
        <div class="value" style="width: 100%;">
          <input type="text" [(ngModel)]="searchText" (keydown.enter)="setSearch()" style="width: 100%;">
        </div>
      </div>



      <!--<div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.vin" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">iccid</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.iccid" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">nemsSn</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.nemsSn" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">registrationPlate</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.registrationPlate" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">region</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.region" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">pcode</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.pcode" (keydown.enter)="setSearch()">
        </div>
      </div>

    -->
      <div class="filter searchFilter">

        <!--<label class="excel_btn" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">

        <div class="excel_btn selectItem" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>
        -->
        <div class="btn" (click)="setSearch()">
          Search
        </div>
      </div>
    </div>

    <div class="OTAInformationContents">
      <ag-grid-angular #otaInformationGrid style="width: 100%; height: calc(100% - 50px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="vehicle.entities"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)"
        (filterChanged)="changeFilter()">
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>


    </div>

  </div>
</div>
