<div class="OTAInformationConatiner">

  <div class="OTAInformationLayout whiteBoardBoax"  >
    <app-sub-title [title]="'OTA information'"></app-sub-title>
    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.vin" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">iccid</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.iccid" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">nemsSn</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.nemsSn" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">registrationPlate</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.registrationPlate" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">region</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.region" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>

      <div class="filter">
        <div class="label">zipCode</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.zipCode" (keydown.enter)="getVehiclemanagerStaticinfo()">
        </div>
      </div>


      <div class="filter">
        <div class="btn" (click)="getVehiclemanagerStaticinfo()">
          Search
        </div>
      </div>
    </div>

    <div class="OTAInformationContents">
      <ag-grid-angular style="width: 100%; height: calc(100% - 40px)"
        class="ag-theme-alpine"
        [rowData]="vehicleList"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>

  </div>
</div>
