<div class="monitoringContainer">
  <div class="gridLayout whiteBoardBoax" style="min-width: 1640px;">

    <div class="gridFilterBox" style="min-width: 1642px;">
      <div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.vin" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">reg number</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.registrationPlate" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">Login</div>
        <div class="value">
          <select [(ngModel)]="searchFilter.isLogin">
            <option [value]="undefined"></option>
            <option [value]="true">Online</option>
            <option [value]="false">Offline</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">purpose</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.purpose" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">model</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.model" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">region</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.region" (keydown.enter)="setSearch()">
        </div>
      </div>


      <!--<div class="filter">
        <div class="label">Start Date</div>
        <div class="value">
          <input class="datePickerText" [ngxMatDatetimePicker]="startPicker" readonly="true" (click)="startPicker.open()" [max]="endDate" [(ngModel)]="startDate">
          <ngx-mat-datetime-picker #startPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
        </div>
      </div>

      <div class="filter">
          ~
      </div>

      <div class="filter">
        <div class="label">End Date</div>
        <div class="value">
          <input class="datePickerText" [ngxMatDatetimePicker]="endPicker" readonly="true" (click)="endPicker.open()" [(ngModel)]="endDate" [min]="startDate">
          <ngx-mat-datetime-picker #endPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
        </div>
      </div>
    -->
      <div class="filter searchFilter" style="right: 0;">

        <!--<label class="excel_btn" for="uploadExcel1">
          <img src="assets/icon/excel_upload.png">
        </label>

        <input id="uploadExcel1" type="file" style="display: none;">
        -->

        <div class="btn" (click)="setSearch()">
          Search
        </div>

        <div class="excel_btn selectItem" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>

        <div class="excel_btn selectItem" (click)="moveDetaileMonitoring()">
          <img src="assets/icon/map.png">
        </div>
      </div>
    </div>

   <div class="grid">
       <!--<div class="gridColumn">
        <div class="column login">
          Login
        </div>
        <div class="column vin">
          VIN
        </div>
        <div class="column regNumber">
          Reg. number
        </div>
        <div class="column nemsSN">
          NEMS S/N
        </div>
        <div class="column lastUpdated">
          Last Updated
        </div>
        <div class="column accumulatedMile">
          Accumulated Mile(km)
        </div>
        <div class="column packetCount">
          Packet Count
        </div>
        <div class="column model">
          model
        </div>
        <div class="column region">
          region
        </div>
        <div class="column purpose" >
          Purpose
        </div>
        <div class="column warning">
          Warning
        </div>
        <div class="column soc">
          SOC(%)
        </div>
      </div>

      <div class="gridData">
        <div class="rowData" (click)="moveDetaileMonitoring(1)">
          <div class="cellData login">
            <img src="assets/icon/disconnection_car_icon.png">
          </div>
          <div class="cellData vin">
            2051508135511005F
          </div>
          <div class="cellData regNumber">
            Reg. number
          </div>
          <div class="cellData nemsSN">
            4gTestUsimKKT09
          </div>
          <div class="cellData lastUpdated">
            21/06/18 04:21:00:PM
          </div>
          <div class="cellData accumulatedMile">
            0.0
          </div>
          <div class="cellData packetCount">
            37,087
          </div>
          <div class="cellData model">
            dummy
          </div>
          <div class="cellData region">
            region
          </div>
          <div class="cellData purpose" >
            Purpose
          </div>
          <div class="cellData warning">
            <img src="assets/icon/warning_red_icon.png">
          </div>
          <div class="cellData soc">
            SOC(%)
          </div>
        </div>

        <div class="rowData" (click)="moveDetaileMonitoring(2)">
          <div class="cellData login">
            <img src="assets/icon/connection_car_icon.png">
          </div>
          <div class="cellData vin">
            2051508135510957F
          </div>
          <div class="cellData regNumber">
            Reg. number
          </div>
          <div class="cellData nemsSN">
            4gTestUsimKKT08
          </div>
          <div class="cellData lastUpdated">
            21/10/29 04:01:31 PM
          </div>
          <div class="cellData accumulatedMile">
            0.0
          </div>
          <div class="cellData packetCount">
            30
          </div>
          <div class="cellData model">
            dummy
          </div>
          <div class="cellData region">
            korea
          </div>
          <div class="cellData purpose" >
            Purpose
          </div>
          <div class="cellData warning">
            <img src="assets/icon/warning_gray_icon.png">
          </div>
          <div class="cellData soc">
            SOC(%)
          </div>
        </div>
      </div>
-->

      <ag-grid-angular  #realTimeMonitoringGrid
        style="width: 100%; height: calc(100% - 50px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="vehicleInfo.vehicleBrief"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)"
        (rowClicked)="getVehicleRow($event)">
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>
    </div>
  </div>
</div>
