<div class="dashboardContainer">

  <!--<div class="dashboardTopLayout">
    <div class="dashboardPanel whiteBoardBoax">

      <div class="panel">
        <app-sub-title [title]="'TOTAL VEHICLES'"></app-sub-title>

        <div class="contents">
          <img src="../../../assets/icon/total_vehicles_icon.png">
          17293
        </div>
      </div>

      <div class="panelVerticalLine"></div>

      <div class="panel">
        <app-sub-title [title]="'TOTAL MILEAGE'"></app-sub-title>

        <div class="contents">
          <img src="../../../assets/icon/total_mileage.png">
          17293
        </div>
      </div>

      <div class="panelHorizontalLine"></div>

      <div class="panel">
        <app-sub-title [title]="'VEHICLES IN OPERATION'"></app-sub-title>

        <div class="contents">
          <img src="../../../assets/icon/vehicles_in_operation.png">
          17293
        </div>
      </div>

      <div class="panelVerticalLine"></div>

      <div class="panel">
        <app-sub-title [title]="'VEHICLE IN CHARGING'"></app-sub-title>
        <div class="contents">
          <img src="../../../assets/icon/vehicle_in_charging.png">
          17293
        </div>
      </div>
    </div>

    <div class="warningStatusByLevel whiteBoardBoax">
      <app-sub-title [title]="'WARNING STATUS BY LEVEL'"></app-sub-title>
    </div>
  </div>

  <div class="dashboardMiddleLayout">
    <div class="vehicleRegisteringTrend whiteBoardBoax">
      <app-sub-title [title]="'VEHICLE REGISTERING TREND'"></app-sub-title>

      <div class="trendPanel">

        <div class="panel">
          <div class="trendPanelTitle">Total</div>
          <div class="trendPanelValue">17293</div>
        </div>

        <div class="trendPanelVerticalLine"></div>

        <div class="panel">
          <div class="trendPanelTitle">New</div>
          <div class="trendPanelValue">7293</div>
        </div>

        <div class="trendPanelVerticalLine"></div>

        <div class="panel">
          <div class="trendPanelTitle">Transferred</div>
          <div class="trendPanelValue">193</div>
        </div>

      </div>

      <div class="trendChart">
        <canvas style="width: 100%; height: 100%;" baseChart
        [datasets]="trendData"
        [labels]="trendLables"
        [options]="trendOptions"
        [legend]="trendLegend"
        [type]="'line'">
      </canvas>

      </div>
    </div>

    <div class="weeklyWarningSummaryByModel whiteBoardBoax">
      <app-sub-title [title]="'WEEKLY WARNING SUMMARY BY MODEL'"></app-sub-title>
    </div>
  </div>

  <div class="dashboardBottomLayout">

    <div class="weeklyWarningTrand whiteBoardBoax">
      <app-sub-title [title]="'WEEKLY WARNING TREND'"></app-sub-title>
    </div>

    <div class="weeklyWarningSummary whiteBoardBoax">
      <app-sub-title [title]="'WEEKLY WARNING SUMMARY'"></app-sub-title>
    </div>

    <div class="level3Warning whiteBoardBoax">
      <app-sub-title [title]="'LEVEL 3 WARNING'"></app-sub-title>
    </div>
  </div>
-->

  <div class="map" id="map"></div>

  <div class="dashBorderLeft">
    <div class="mapBoundariesNavigator">
      <div class="mapBoundaries" [ngClass]="{'select': currentBoundaries == 'country_territory'}" (click)="changeBoundaries('country_territory')">Country</div>
      <div class="mapBoundaries" [ngClass]="{'select': currentBoundaries == 'province'}" (click)="changeBoundaries('province')">Province</div>
      <div class="mapBoundaries" [ngClass]="{'select': currentBoundaries == 'sub_prefecture'}" (click)="changeBoundaries('sub_prefecture')">Sub Prefecture</div>
      <div class="mapBoundaries" [ngClass]="{'select': currentBoundaries == 'county'}" (click)="changeBoundaries('county')">County</div>
    </div>

    <div class="dashboardInfoCountContainer">
      <div class="dashboardCountLayout" style="background-color: #e14a7b;" >
        <p>Total count of vehicles</p>
        {{statisticsVehiclesSummary.totalVehicles}}
      </div>

      <div class="dashboardCountLayout" style="background-color:#4a60e1">
        <p>Count of new vehicles</p>
        {{statisticsVehiclesSummary.newVehicles}}
      </div>

      <div class="dashboardCountLayout" style="background-color : #5eb92b">
        <p>Count of vehicles logged in</p>
        {{statisticsVehiclesSummary.loginVehicles}}
      </div>
    </div>
  </div>

  <div class="dashBorderBottom">
    <div class="dashboardRoundLayout">

      <div class="infoBox">
        <div class="infoTitle">
          <img src="../../../assets/icon/gauge.png">
          <p>Total mileage</p>
        </div>
        <div class="infoValue">
          {{statisticsVehiclesSummary.totalMileage}}
          <p style="font-size: 14px; margin-left: 5px;">mile</p>
        </div>
      </div>

    </div>

    <div class="dashboardRoundLayout">

      <div class="infoBox">
        <div class="infoTitle">
          <img src="../../../assets/icon/lighting.png">
          <p>Total power used</p>
        </div>
        <div class="infoValue">
          {{statisticsVehiclesSummary.totalEnergyUsage}}
          <p style="font-size: 14px; margin-left: 5px;">W</p>
        </div>
      </div>
    </div>
  </div>

  <div class="dashBorderRight">
    <div class="dashBorderStatus">

      <div class="statusLine total">
        <div class="statusLabel">
          Total Vehicles
        </div>
        <div class="statusValue">
          <div class="numpad" [ngClass]="{'colorGray': !arrayTotalVehicles[6]}">
            {{arrayTotalVehicles[6] ? arrayTotalVehicles[6] : 0}}
          </div>
          <div class="numpad" [ngClass]="{'colorGray': !arrayTotalVehicles[5]}">
            {{arrayTotalVehicles[5] ? arrayTotalVehicles[5] : 0}}
          </div>
          <div class="numpad" [ngClass]="{'colorGray': !arrayTotalVehicles[4]}">
            {{arrayTotalVehicles[4] ? arrayTotalVehicles[4] : 0}}
          </div>
          <div class="numpad" [ngClass]="{'colorGray': !arrayTotalVehicles[3]}">
            {{arrayTotalVehicles[3] ? arrayTotalVehicles[3] : 0}}
          </div>
          <div class="numpad" [ngClass]="{'colorGray': !arrayTotalVehicles[2]}">
            {{arrayTotalVehicles[2] ? arrayTotalVehicles[2] : 0}}
          </div>
          <div class="numpad" [ngClass]="{'colorGray': !arrayTotalVehicles[1]}">
            {{arrayTotalVehicles[1] ? arrayTotalVehicles[1] : 0}}
          </div>
          <div class="numpad" [ngClass]="{'colorGray': !arrayTotalVehicles[0]}">
            {{arrayTotalVehicles[0] ? arrayTotalVehicles[0] : 0}}
          </div>
        </div>
      </div>

      <div class="statusLine">
        <div class="statusLabel">
          Total Login Vehicles
        </div>
        <div class="statusValue">
          <div class="valueText purple" >
            {{statisticsCurrent.totalLoginVehicles}}
          </div>
        </div>
      </div>

      <div class="statusLine">
        <div class="statusLabel ">
          Total Logout Vehicles
        </div>
        <div class="statusValue">
          <div class="valueText blue">
            {{statisticsCurrent.totalLogoutVehicles}}
          </div>
        </div>
      </div>

      <div class="statusLine">
        <div class="statusLabel">
          Today Regist Vehicles
        </div>
        <div class="statusValue">
          <div class="valueText mint">
            {{statisticsCurrent.todayRegistVehicles}}
          </div>
        </div>
      </div>
    </div>

    <div class="dashBorderPieChart">

      <div id="pieChart" style="width: 100%; height: 100%;"></div>

      <!--<canvas style="width: 100%; height: 100%;"
      baseChart
      [data]="data"
      [type]="'doughnut'"></canvas> -->

      <!--<canvas style="width: 100%; height: 100%;" baseChart
      [datasets]="trendData"
      [labels]="trendLables"
      [options]="trendOptions"
      [legend]="trendLegend"
      [type]="'line'">
      </canvas>-->


    </div>
    <div class="dashBorderAlarmGrid">
      <div class="alarmGridHeader">
        <div class="alarmStatus green"></div>
        <div class="alarmTitle">Alarm</div>
        <div class="alarmIcon">
          <img src="assets/icon/alarm_icon.png">
        </div>
      </div>

      <div class="alarmGrid">
        <div class="gridHeader">
          <div class="header first">header 1 </div>
          <div class="header second">header 2 </div>
          <div class="header third">header 3 </div>
        </div>
        <div class="gridContents">
          <div class="gridRowData" (click)="pageMoveAlarm()">
            <div class="gridCell first">
              cell1
            </div>
            <div class="gridCell second">
              cell2
            </div>
            <div class="gridCell third">
              cell3
            </div>
          </div>
          <div class="gridRowData evenRow" (click)="pageMoveAlarm()">
            <div class="gridCell first" >
              cell1
            </div>
            <div class="gridCell second">
              cell2
            </div>
            <div class="gridCell third">
              cell3
            </div>
          </div>
          <div class="gridRowData " (click)="pageMoveAlarm()">
            <div class="gridCell first">
              cell1
            </div>
            <div class="gridCell second">
              cell2
            </div>
            <div class="gridCell third">
              cell3
            </div>
          </div>
          <div class="gridRowData evenRow" (click)="pageMoveAlarm()">
            <div class="gridCell first">
              cell1
            </div>
            <div class="gridCell second">
              call2
            </div>
            <div class="gridCell third">
              cell3
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
