<div class="warningStatisticsContainer">

  <div class="warningStatisticsLayout whiteBoardBoax">
    <div class="statusContents">
      <div class="status">
        <div class="statusBox">
          <div class="statusValue">
            <div id="pieChart1"></div>

          </div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">
            <div id="pieChart2"></div>
          </div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">
            <div id="pieChart3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="contentLayout whiteBoardBoax">
    <div id="scatterChart"></div>

  </div>
</div>
