<div class="mainContainer">
  <div class="titleManuContainer">
    <div class="titleLogoBox">
      <img src="assets/icon/nems_logo.png">
    </div>
    <!--<div class="titleVinSearchBox">
      <div class="vinSearchLable"> VIN </div>
      <div class="vinSearch" >
        <input class="vinSearchInput" type="text" placeholder="Search...">
        <img class="vinSearchImg" src="assets/icon/search_icon.png">
      </div>
    </div>
    -->
    <div class="titleLeftLayout" style="margin-left: 10px;">
      <div class="contentTitle">
        <div class="subTitleBar"></div>
        {{subTitle}}
      </div>
    </div>
    <div class="titleRightLayout">
      <!--<div class="alarm" [routerLink]="['/main/alarm']">
        <img src="assets/icon/red_alarm_icon.png">
        <div class="alarmCount">123</div>
      </div>
      <div class="alarm" [routerLink]="['/main/alarm']">
        <img src="assets/icon/orange_alarm_icon.png">
        <div class="alarmCount">456</div>
      </div>
      <div class="alarm" [routerLink]="['/main/alarm']">
        <img src="assets/icon/yellow_alarm_icon.png">
        <div class="alarmCount">789</div>
      </div>
      -->

      <mat-select [(ngModel)]="currntLanguage" (ngModelChange)="onLanguageChange()" style="margin-right: 20px; width: 100px;">
        <mat-option [value]="'en'" >English</mat-option>
        <mat-option [value]="'zh-CN'">中文</mat-option>
      </mat-select>

      <!--<div class="language-selector">
        <select name="language" (change)="onLanguageChange($event)">
          <option value="en">English</option>

          <option value="zh-CN">中文</option>
        </select>
      </div>
      -->

      <!-- <div class="language-selector">
        <select name="language" (change)="onLanguageChange($event)">
          <option value="en">
            <img src="assets/icon/american_flag_icon.png" style="width: 20px; height: 20px;">
            English
          </option>
          <option value="zh-CN">
            <img src="assets/icon/chinese_flag_icon.png" alt="Chinese Flag" class="language-flag" />
            中文
          </option>
        </select>
      </div>
       -->


      <div class="alarm" [routerLink]="['/main/alarm/'+null+'/CRITICAL']">
        <img src="assets/icon/red_notification.png">
        <div class="alarmCount" *ngIf="warningcount.critical > 0">{{warningcount.critical}}</div>
      </div>

      <div class="alarm" [routerLink]="['/main/alarm/'+null+'/MAJOR']">
        <img src="assets/icon/pink_notification.png">
        <div class="alarmCount" *ngIf="warningcount.major > 0">{{warningcount.major}}</div>
      </div>


      <div class="alarm" [routerLink]="['/main/alarm/'+null+'/MINOR']">
        <img src="assets/icon/orange_notification.png">
        <!--<img src="assets/icon/yellow_notification.png">-->
        <div class="alarmCount" *ngIf="warningcount.minor > 0">{{warningcount.minor}}</div>
        <!--<div class="alarmPoint" [ngClass]="{'onPoint': warningcount.minor > 0 || warningcount.major > 0 || warningcount.critical > 0}"></div>
        <div class="titleTooltip">
          <div class="alarmCountBox" style="color: orange"> minor : <span>{{warningcount.minor}}</span> </div>
          <div style="width:100%; height : 1px; background-color: #bfbfbf;" ></div>
          <div class="alarmCountBox" style="color:rgb(255 118 0);"> major : <span>{{warningcount.major}}</span> </div>
          <div style="width:100%; height : 1px; background-color: #bfbfbf;" ></div>
          <div class="alarmCountBox" style="color: red;"> critical : <span>{{warningcount.critical}}</span> </div>
        </div>
        -->
      </div>


      <div class="myAccount">
        <div class="myAccountImage">
          <img src="assets/icon/man.png">
        </div>
        <div class="myAccountText">
          <div style="color: #3f4472;">Welcome</div>
          <div style="font-size: 14px;font-weight: bold;">{{currentLoginUser.username}}</div>
        </div>
        <!--<div class="myAccountArrow">
          <img src="assets/icon/down-arrow.png">
        </div>
        -->
      </div>
      <div class="logout" (click)="signOut()">
        <img src="assets/icon/exit.png" style="width: 20px; height: 20px;">
        &nbsp; Logout
      </div>
    </div>
  </div>

  <div class="contentsContainer"  >
    <div class="menuLayout" [ngClass]="{'menuLayoutReduction': menuMode == 2}">
      <div style="width: 100%;height: calc(100% - 40px); overflow-y: scroll;">
        <!--<div class="enableDisableBtn" [ngClass]="{'enableDisableBtnCentor': menuMode == 2}">
          <img src="assets/icon/menu_enable_disable_btn.png" [ngClass]="{'enableDisableBtnRotate': menuMode == 2}" (click)="changeMenuMode()">
        </div>
      -->
        <div class="menuBox">
          <div class="headline">
            <span>{{ 'MAIN' | translate }}</span></div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('dashboard') > -1 }" [routerLink]="['/main/dashboard']" (click)="changeMenu(translateText('DASHBOARD'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser' || currentLoginUser.authorityId == 'user'">
            <img src="assets/icon/dashboard_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Dashboard' | translate }}</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('monitoring') > -1 }" [routerLink]="['/main/monitoring']" (click)="changeMenu('REALTIME MONITORING')" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser' || currentLoginUser.authorityId == 'user'">
            <img src="assets/icon/realtime_monitoring_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Realtime Monitoring' | translate }}</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('status') > -1 }" [routerLink]="['/main/status']" (click)="changeMenu('REALTIME STATUS')" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser'">
            <img src="assets/icon/realtime_status_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Realtime Status' | translate }}</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('statistics') > -1 }" [routerLink]="['/main/statistics/warningStatistics']" (click)="changeMenu('STATISTICS')" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser'">
            <img src="assets/icon/statistics_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Statistics' | translate }}</span>
          </div>
          <!--<div class="menu" [ngClass]="{select: router.url.indexOf('failure') > -1 }" [routerLink]="['/main/failure']" (click)="changeMenu('FAILURE')">
            <img src="assets/icon/failure_icon.png">
            <span *ngIf="menuMode == 1">Failure</span>
          </div>
        -->
          <div class="menu" [ngClass]="{select: router.url.indexOf('alarm') > -1 }" [routerLink]="['/main/alarm']" (click)="changeMenu('ALARM')" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser' || currentLoginUser.authorityId == 'user'">
            <img src="assets/icon/push_alarm_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Alarm' | translate }}</span>
          </div>
          <!--<div class="menu" [ngClass]="{select: router.url.indexOf('history') > -1 }" [routerLink]="['/main/history']" (click)="changeMenu('ALARM HISTORY')" *ngIf="currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser' || currentLoginUser.authorityId == 'user'">
            <img src="assets/icon/alarm_history_icon.png">
            <span *ngIf="menuMode == 1">Alarm History</span>
          </div>
        -->
          <!--<div class="menu" [ngClass]="{select: router.url.indexOf('abnormalLocationVehicle') > -1 }" [routerLink]="['/main/abnormalLocationVehicle/test1']" (click)="changeMenu('ABNORMAL LOCATION VEHICLE')" *ngIf="currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser'">
            <img src="assets/icon/abnormal_location_vehicle_icon.png">
            <span *ngIf="menuMode == 1">Abnormal Location Vehicle</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('dataForwarding') > -1 }" [routerLink]="['/main/dataForwarding']" (click)="changeMenu('DATA FORWARDING')" *ngIf="currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/data_forwarding_icon.png">
            <span *ngIf="menuMode == 1">Data Forwarding</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('warningStatistics') > -1 }" [routerLink]="['/main/warningStatistics']" (click)="changeMenu('Warning Statistics')" *ngIf="currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/warning.png">
            <span *ngIf="menuMode == 1">Warning Statistics</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('monthlyVehicleStatistics') > -1 }" [routerLink]="['/main/monthlyVehicleStatistics']" (click)="changeMenu('Monthly Vehicle Statistics')" *ngIf="currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/30-days.png">
            <span *ngIf="menuMode == 1">Monthly Vehicle Statistics</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('userChargingPatternAnalysis') > -1 }" [routerLink]="['/main/userChargingPatternAnalysis']" (click)="changeMenu('User Charging Pattern Analysis')" *ngIf="currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/data.png">
            <span *ngIf="menuMode == 1">User Charging Pattern Analysis</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('travelDistanceStatistics') > -1 }" [routerLink]="['/main/travelDistanceStatistics']" (click)="changeMenu('Travel Distance Statistics')" *ngIf="currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/distance.png">
            <span *ngIf="menuMode == 1">Travel Distance Statistics</span>
          </div>
          -->
        </div>

        <div class="menuBox" *ngIf=" currentLoginUser.authorityId != 'user'">
          <div class="headline">
            <span *ngIf="menuMode == 1">{{ 'CONTROL PANEL' | translate }}</span>
            <span *ngIf="menuMode == 2">PANEL</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('userAccount') > -1 }" [routerLink]="['/main/control/userAccount']" (click)="changeMenu('USER ACCOUNT')" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root'">
            <img src="assets/icon/user_account_icon.png">
            <span *ngIf="menuMode == 1">{{ 'User Account' | translate }}</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('vehicle') > -1 }" [routerLink]="['/main/control/vehicle/vehicleSettings']" (click)="changeMenu(translateText('VEHICLE SETTINGS'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/vehicle_settings_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Vehicle Settings' | translate }}</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('publicPlatform') > -1 }" [routerLink]="['/main/control/publicPlatform/publicPlatformManagement']" (click)="changeMenu(translateText('PUBLIC PLATFORM'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root'">
            <img src="assets/icon/public_platform_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Public Platform' | translate }}</span>
          </div>
          <!--<div class="menu" [ngClass]="{select: router.url.indexOf('shanghaiInfo') > -1 }" [routerLink]="['/nems/control/shanghaiInfo']">Shanghai Info</div>-->
          <div class="menu" [ngClass]="{select: router.url.indexOf('serverLogs') > -1 }" [routerLink]="['/main/control/serverLogs']" (click)="changeMenu(translateText('SERVER LOG'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/server_log_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Server Log' | translate }}</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('otaInformation') > -1 }" [routerLink]="['/main/control/otaInformation']" (click)="changeMenu(translateText('OTA INFORMATION'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root'">
            <img src="assets/icon/ota_information_icon.png">
            <span *ngIf="menuMode == 1">{{ 'OTA Information' | translate }}</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('remoteControl') > -1 }" [routerLink]="['/main/control/remoteControl/state']" (click)="changeMenu(translateText('REMOTE CONTROL'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin'">
            <img src="assets/icon/remote_control_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Remote Control' | translate }}</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('terminal') > -1 }" [routerLink]="['/main/control/terminal']" (click)="changeMenu(translateText('TERMINAL'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root'">
            <img src="assets/icon/terminal_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Terminal' | translate }}</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('otaManagement') > -1 }" [routerLink]="['/main/control/otaManagement']" (click)="changeMenu(translateText('OTA MANAGEMENT'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root'">
            <img src="assets/icon/ota_management_icon.png">
            <span *ngIf="menuMode == 1">{{ 'OTA Management' | translate }}</span>
          </div>

          <div class="menu" [ngClass]="{select: router.url.indexOf('pushAlarm') > -1 }" [routerLink]="['/main/control/pushAlarm']"  (click)="changeMenu(translateText('PUSH ALARM'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser'">
            <img src="assets/icon/push_alarm_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Push Alarm' | translate }}</span>
          </div>
          <div class="menu" [ngClass]="{select: router.url.indexOf('detectError') > -1 }" [routerLink]="['/main/control/detectError/abnormalVehicleState']"  (click)="changeMenu(translateText('DETECT ERROR'))" *ngIf="currentLoginUser.authorityId == 'admin' || currentLoginUser.authorityId == 'root' || currentLoginUser.authorityId == 'service-admin' || currentLoginUser.authorityId == 'poweruser'">
            <img src="assets/icon/datect_error_icon.png">
            <span *ngIf="menuMode == 1">{{ 'Detect Error' | translate }}</span>
          </div>
        </div>
      </div>

      <div class="footer" *ngIf="menuMode == 1">
        <div class="footerText">
          <!--Copyright @ 2022 OOOOOO All right reserved.-->
        </div>
      </div>
    </div>

    <div class="contentsLayout" [ngClass]="{'contentsLayoutEnlargement': menuMode == 2}">
      <!--<div class="contentTitleContainer">
        <div class="mainControlBox" *ngIf="router.url.indexOf('monitoring') > -1 ">
          <div class="btn" (click)="clickMaps()">
            <img src="assets/icon/map.png">
          </div>
        </div>

        <div class="mainControlBox" *ngIf="router.url.indexOf('monitoring/detail') > -1 ">
          <div class="btn" (click)="clickList()">
            <img src="assets/icon/list-interface-symbol.png">
          </div>
        </div>
      </div>
      -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="alertBox" [ngClass]="{'alertMassageOpen': messageOn}">
    <div class="alertMassage" >
      {{alertMessage}}
    </div>
  </div>
</div>
