.mainContainer{
  width: 100%;
  height: 100%;
  min-width: 1220px;
  min-height: 500px;
  margin: 0px;
  padding: 0px;

}

.mainContainer .titleManuContainer{
  width: 100%;
  height: calc(5% - 5px);
  min-width: 950px;
  min-height: 46px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeef5;
  background-color: white;
  box-shadow: 0px 1px 5px #eeeef5;
}

.mainContainer .contentsContainer{
  width: 100%;
  height: 95%;
}

.mainContainer .contentsContainer .menuLayout{
  width: 250px;
  height: 100%;
  border-right: 1px solid #eeeef5;
  float: left;
  background-color: white;
  box-shadow: 1px 0px 5px #eeeef5;
  transition: all ease 0.5s;
}

.mainContainer .contentsContainer .menuLayoutReduction{
  width: 50px !important;
}

.mainContainer .contentsContainer .contentsLayout{
  width: calc(100% - 282px);
  height: 100%;
  padding: 0 15px;
  float: left;
  transition: all ease 0.5s;
}

.mainContainer .contentsContainer .contentsLayoutEnlargement{
  width: calc(100% - 111px);
}

.contentTitleContainer{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.contentTitle{
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #3f4472;
}

.mainContainer .contentsContainer .contentsLayout .content{
  width: 100%;
  height: calc(100% - 30px);
  padding: 15px 0;
}

.mainContainer .contentsContainer .menuLayout .menuBox{
  width: 85%;
  padding-left: 15%;
  padding-bottom: 20px;
}

.mainContainer .contentsContainer .menuLayout .menuBox .headline{
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  color: #949494;
}

.mainContainer .contentsContainer .menuLayout .menuBox .menu{
  width: calc(100% - 10px);
  height: 40px;
  display: flex;
  align-items: center;
  color: #3f4472;
  cursor: pointer;
  margin-left: 10px;
}

.mainContainer .contentsContainer .menuLayout .menuBox .menu img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.mainContainer .contentsContainer .menuLayout .footer{
  /*position: absolute;
  bottom: 0;*/
  position: absolute;
  bottom: 0;
}

.mainContainer .contentsContainer .menuLayout .footer .footerText{
  padding: 10px;
  color: #9295af;
  font-size: 10px;
}

.mainContainer .titleManuContainer .titleLogoBox{
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #eeeef5;
}

.mainContainer .titleManuContainer .titleLogoBox img{
  height: 31px;
}

.mainContainer .titleManuContainer .titleVinSearchBox{
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
  margin-left: 30px;
}

.mainContainer .titleManuContainer .titleVinSearchBox .vinSearchLable{
  color: #3f4472;
  margin-right: 10px;
}

.mainContainer .titleManuContainer .titleVinSearchBox .vinSearch{
  width: 300px;
  height: 30px;
  border: 1px solid #eeeef5;
  border-radius: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.mainContainer .titleManuContainer .titleVinSearchBox .vinSearch .vinSearchInput{
  width: calc(100% - 40px);
  height: 100%;
  border: none;
  float: left;
  background-color:transparent;
}

.mainContainer .titleManuContainer .titleVinSearchBox .vinSearch .vinSearchImg{
  width: 25px;
  height: 25px;
}

.mainContainer .titleManuContainer .titleRightLayout {

  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
}

.mainContainer .titleManuContainer .titleRightLayout .signOut{
  margin-right: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mainContainer .titleManuContainer .titleRightLayout .signOut img{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
}

.mainContainer .titleManuContainer .titleRightLayout .alarm{
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.mainContainer .titleManuContainer .titleRightLayout .alarm .alarmPoint{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  right: 16px;
  top: 8px;
  visibility: hidden;
}

.onPoint{
  visibility: visible !important;
}

.mainContainer .titleManuContainer .titleRightLayout .alarm img{
  width: 25px;
  height: 20px;
  position: absolute;
  top: 10px;
}

.mainContainer .titleManuContainer .titleRightLayout .alarm .alarmCount{
  position: absolute;
  height: 15px;
  background-color: black;
  left: 10px;
  color: white;
  font-size: 10px;
  border-radius: 3px;
  padding: 2px 4px;
}

.mainContainer .titleManuContainer .titleRightLayout .myAccount{
  width: 150px;
  height: 40px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mainContainer .titleManuContainer .titleRightLayout .myAccount .myAccountImage{
  border-radius: 30px;
  background-color: #eeeeee;
  margin-right: 10px;
}

.mainContainer .titleManuContainer .titleRightLayout .myAccount .myAccountImage img{
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

.mainContainer .titleManuContainer .titleRightLayout .myAccount .myAccountText{
  width: 200px;
}

.mainContainer .titleManuContainer .titleRightLayout .myAccount .myAccountArrow img{
  width: 15px;
  height: 15px;
}

.mainContainer .titleManuContainer .titleLeftBox{
  height: 100%;
  display: flex;
  align-items: center;
}

.mainContainer .contentsContainer .menuLayout .menuBox .select{
  color: #2fc8b0;
  width: calc(100% - 13px);
  border-right: 3px solid #2fc8b0;
}

.mainContainer .titleManuContainer .titleRightBox{
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  right: 0;
  position: absolute;
}

.mainContainer .titleManuContainer .titleIcon{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.mainControlBox{
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
}

.btn{
  width: 30px;
  height: 30px;
  border: 1px solid #eeeef5;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.btn img{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px;
}

.enableDisableBtn{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  transition: all ease 0.5s;
}

.enableDisableBtn img{
  width: 30px;
  height: 30px;
  transition: all ease 0.5s;
}

.enableDisableBtnRotate{
  transform: rotate( 180deg );
}

.enableDisableBtnCentor{
  width: 80% !important;
}

/*Mine*/
.language-selector {
  position: relative;
  display: inline-block;
}

.language-selector select {
  width: 100%;
}

.language-selector .flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.language-selector .flag.en {
  background-image: url(https://media.geeksforgeeks.org/wp-content/uploads/20200630132502/eflag.jpg);
}

.language-selector .flag.zh-CN {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_the_People%27s_Republic_of_China.svg);
}

.language-selector option img{
  vertical-align: middle;
  margin-right: 5px;
}
/* .dropbtn {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #666 transparent transparent transparent;
  pointer-events: none;
}

.dropbtn.open .arrow {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
} */

/*Till here*/


.alertBox{
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.alertMassage{
  padding: 5px 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 10px;

}

.alertMassageOpen{
  max-height: 100px;
}

.logout{
  padding-right: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.subTitleBar{
  width: 5px;
  height: 30%;
  background-color: #2fc8b0;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 3px;
}

.titleTooltip{
  position: absolute;
  z-index: 1;
  top: 30px;
  background: white;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  visibility: hidden;
}

.alarm:hover > .titleTooltip{
  visibility: visible;
}

.alarmCountBox{
  min-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.alarmCountBox span{
  font-weight: bold;
  padding-left: 5px;
}
