<div class="addRemoteParameterConfigurationContainer">

  <div class="popupTitle">
    <div class="text">
      Remote parameter configuration info
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">VIN <span>*</span> </div>
    <div class="value">
      <!--<select>
        <option>test</option>
      </select>
    -->
    <input type="text" [(ngModel)]="vinText">
    </div>
  </div>

  <div class="btnBox">
    <div class="btn add" *ngIf="data.type == constant.ADD_TYPE" >
      Add
    </div>
    <div class="btn modify" *ngIf="data.type == constant.MODIFY_TYPE">
      Modify
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>


</div>
