<div class="addRemoteParameterConfigurationContainer">

  <div class="popupTitle">
    <div class="text">
      Remote parameter configuration info
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label"> configure name <span>*</span> </div>
    <div class="value">
      <mat-select>
        <mat-option>GMC Server</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">VIN <span>*</span> </div>
    <div class="value">
      <mat-select>
        <mat-option>test</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Vehicle Info Snapshot </div>
    <div class="value"></div>
  </div>

  <div class="btnBox">
    <div class="btn add" *ngIf="data.type == constant.ADD_TYPE" >
      Add
    </div>
    <div class="btn modify" *ngIf="data.type == constant.MODIFY_TYPE">
      Modify
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>


</div>
