<div class="addRemoteParameterConfigurationContainer">

  <div class="popupTitle">
    <div class="text">
      Remote parameter configuration info
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">VIN <span>*</span> </div>
    <div class="value" style="position: relative;">
        <!--<select>
          <option>test</option>
        </select>
      -->
      <input (focus)="vinSearchListShow=true" (focusout)="vinInputFocusout()" type="text" [(ngModel)]="vinText" (ngModelChange)="getVehiclemanagerStaticinfo()">
      <div class="vinSearchList" *ngIf="vinText != '' && vinSearchListShow">
        <div class="searchListItem" *ngFor="let vehicle of searchVehicleList" (mousedown)="vehicleItemClick(vehicle.vin)">
          {{vehicle.vin}}
        </div>
        <div *ngIf="searchVehicleList.length==0" style="font-weight: bold; color: gray;">
          VIN not found.
        </div>
      </div>
    </div>
  </div>

  <div class="btnBox">
    <div class="btn add" *ngIf="data.type == constant.ADD_TYPE" (click)="addConfigurationInfo()" >
      Add
    </div>
    <div class="btn modify" *ngIf="data.type == constant.MODIFY_TYPE">
      Modify
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>


</div>
