<div class="userAccountContainer">
  <div class="userAccountLayout whiteBoardBoax">
    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">email</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.email" (keydown.enter)="getUsers()">
        </div>
      </div>

      <div class="filter">
        <div class="label">name</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.name" (keydown.enter)="getUsers()">
        </div>
      </div>

      <div class="filter">
        <div class="label">authority</div>
        <div class="value">

          <select [(ngModel)]="searchFilter.authority">
            <option value="root">root</option>
            <option value="service-admin">service-admin</option>
            <option value="poweruser">poweruser</option>
            <option value="user">user</option>
          </select>

        </div>
      </div>

      <!--<div class="filter">
        <div class="label">attributeName</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.attributeName" (keydown.enter)="getUsers()">
        </div>
      </div>

      <div class="filter">
        <div class="label">attributeValue</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.attributeValue" (keydown.enter)="getUsers()">
        </div>
      </div>
    -->
      <div class="filter searchFilter">
        <div class="btn" (click)="getUsers()">
          Search
        </div>
      </div>
    </div>

    <div class="gridControlBox">

      <div class="btn add" (click)="onBtExport()">
        export
      </div>

      <div class="btn add" (click)="addUser()">
        Add
      </div>
      <div class="btn modify" [ngClass]="{'selectItem': selectNodeID != null}" (click)="modifyUser()">
        Modify
      </div>
      <div class="btn delete" [ngClass]="{'selectItem': selectNodeID != null}" (click)="deleteUser()">
        Delete
      </div>
    </div>

    <div claSS="userAccountContents">

      <ag-grid-angular style="width: 100%; height: calc(100% - 20px)"
        class="ag-theme-alpine"
        [rowData]="users.users"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="17"
        [tooltipShowDelay]="0"
        (cellClicked)="userClick($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>

    </div>

  </div>
</div>
