<div class="userAccountContainer">
  <div class="userAccountLayout whiteBoardBoax">
    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">{{ 'email'  | translate }}</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.email" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">{{ 'name'  | translate }}</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.name" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">{{ 'authority'  | translate }}</div>
        <div class="value">

          <select [(ngModel)]="searchFilter.authority">
            <option value="root">root</option>
            <option value="service-admin">service-admin</option>
            <option value="poweruser">poweruser</option>
            <option value="user">user</option>
          </select>

        </div>
      </div>

      <!--<div class="filter">
        <div class="label">attributeName</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.attributeName" (keydown.enter)="getUsers()">
        </div>
      </div>

      <div class="filter">
        <div class="label">attributeValue</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.attributeValue" (keydown.enter)="getUsers()">
        </div>
      </div>
    -->

    <div class="filter searchFilter">
        <div class="btn" (click)="setSearch()">
          Search
        </div>

        <div class="excel_btn selectItem" (click)="addUser()">
          <img src="assets/icon/add-button.png">
        </div>
        <!--<label class="excel_btn selectItem" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">

        <div class="excel_btn selectItem" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>
        -->
      </div>
    </div>

    <div claSS="userAccountContents">
      <ag-grid-angular #userGrid style="width: 100%; height: calc(100% - 4px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="users.users"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (cellClicked)="userClick($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>

    </div>
  </div>
</div>
