<div class="playStatisticsPlanContainer">

  <div class="title">
    <div class="text">
      Create Statistics
    </div>
    <div class="close">
      <img src="assets/icon/close_icon.png" (click)="closePopup()">
    </div>
  </div>

  <div class="contents">

    <div class="fild">
      <div class="label">
        Start Date/Time
      </div>

      <div class="datePicker">
        <input class="datePickerText" [ngxMatDatetimePicker]="startPicker" readonly="true" (click)="startPicker.open()" [(ngModel)]="selectedMomentStart">
        <ngx-mat-datetime-picker #startPicker [showSpinners]="true" [showSeconds]="true" [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [hideTime]="false"></ngx-mat-datetime-picker>
      </div>
    </div>

    <div class="fild">
      <div class="label">
        End Date/Time
      </div>

      <div class="datePicker">
        <input class="datePickerText" [ngxMatDatetimePicker]="endPicker" readonly="true" (click)="endPicker.open()" [(ngModel)]="selectedMomentEnd">
        <ngx-mat-datetime-picker #endPicker [showSpinners]="true" [showSeconds]="true" [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [hideTime]="false"></ngx-mat-datetime-picker>
      </div>
    </div>
  </div>

  <div class="btnBox">

    <div class="btn add" (click)="addPlayStatisticsPlan()">Add</div>
    <div class="btn cancel" (click)="closePopup()">Cancel</div>

  </div>

</div>
