<div class="warningStatisticsContainer">

  <div class="warningStatisticsLayout">
    <div class="statusContents">
      <div class="status">
        <div class="statusBox">
          <div class="statusValue">921,884,178</div>
          <div class="statusLabel">Title</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">23047</div>
          <div class="statusLabel">Title</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">60,003</div>
          <div class="statusLabel">Title</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">29,321,198</div>
          <div class="statusLabel">Title</div>
        </div>
      </div>
    </div>
  </div>

  <div class="contentRightLayout">
    <app-sub-title [title]="'BAR CHART'"></app-sub-title>
    <div id="barChart" style="width:100%; height:calc(100% - 30px)"></div>
  </div>

  <div class="contentLeftLayout">
    <app-sub-title [title]="'PIE CHART'"></app-sub-title>
      <div id="donutChart" style="width:100%; height:100%"></div>
    </div>
</div>
