<div class="singleStatisticsContainer">

  <app-sub-title [title]="'Single Statistics'"></app-sub-title>

  <div class="singleStatisticsCountLayout">

    <div class="totalMileage">
      <div class="value">N/A</div>
      <div class="label">Total Mileage</div>
    </div>

    <div class="electnicalEnergyConsumption">
      <div class="value">N/A</div>
      <div class="label">Electncal Energy Consumption(kWh)</div>
    </div>

    <div class="failures">
      <div class="value">N/A</div>
      <div class="label">Failures</div>
    </div>
  </div>



  <div class="singleStatisticsCumulativeLayout">

    <app-sub-title [title]="'Cumulative Data'"></app-sub-title>

    <ag-grid-angular style="width: 100%; height: calc(100% - 30px)"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>



  <div class="singleStatisticsHistoryLayout">
    <div class="socChargeHistory">
      <div class="historyTitle">
        <app-sub-title [title]="'SOC CHARGE HISTORY'"></app-sub-title>
        <div class="datePicker">
          <input class="datePickerText" [ngxMatDatetimePicker]="startPicker" readonly="true" (click)="startPicker.open()">
          <ngx-mat-datetime-picker #startPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
          ~
          <input class="datePickerText" [ngxMatDatetimePicker]="endPicker" readonly="true" (click)="endPicker.open()">
          <ngx-mat-datetime-picker #endPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
        </div>

        <div class="historyApply">Apply</div>
        <div class="historyExport">Export</div>

      </div>
      <ag-grid-angular style="width: 100%; height: calc(100% - 50px)"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs2">
    </ag-grid-angular>
    </div>

    <div class="socConsumptionHistory">
      <div class="historyTitle">
        <app-sub-title [title]="'SOC CONSUMPTION HISTORY'"></app-sub-title>
        <div class="datePicker">
          <input class="datePickerText" [ngxMatDatetimePicker]="startPicker2" readonly="true" (click)="startPicker2.open()">
          <ngx-mat-datetime-picker #startPicker2 [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
          ~
          <input class="datePickerText" [ngxMatDatetimePicker]="endPicker2" readonly="true" (click)="endPicker2.open()">
          <ngx-mat-datetime-picker #endPicker2 [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
        </div>
        <div class="historyApply">Apply</div>
        <div class="historyExport">Export</div>
      </div>
      <ag-grid-angular style="width: 100%; height: calc(100% - 50px)"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs2">
    </ag-grid-angular>
    </div>
  </div>


</div>

