<div class="pushAlarmContainer">

  <div class="pushAlarmLayout whiteBoardBoax">
    <div class="gridControlBox">
      <div class="btn add" (click)="addAlarm()">
        Add
      </div>
      <div class="btn modify" [ngClass]="{'selectItem':  gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="modifyAlarm()">
        Modify
      </div>
      <div class="btn delete" [ngClass]="{'selectItem':  gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="deleteAlarm()">
        Delete
      </div>

      <div style="display: flex; position: absolute; right: 40px;">
        <label class="excel_btn" for="uploadExcel1">
          <img src="assets/icon/excel_upload.png">
        </label>

        <input id="uploadExcel1" type="file" style="display: none;">

        <div class="excel_btn" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>
      </div>

    </div>

    <div class="pushAlarmContents">
      <ag-grid-angular #pushAlarmGrid style="width: 100%; height: calc(100% - 50px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>


    </div>

  </div>


</div>
