<div class="pushAlarmContainer">

  <div class="pushAlarmLayout whiteBoardBoax">


    <div class="gridFilterBox">

      <div class="filter">
        <div class="label">Filter</div>
        <div class="value">
          <select [(ngModel)]="filter">
            <option [value]="'userName'">User Name</option>
            <option [value]="'phoneNumber'">Phone Number</option>
            <option [value]="'eMail'">E-Mail</option>
            <option [value]="'aliTextureId'">Alicloud texture ID</option>
            <option [value]="'aliVoiceId'">Alicloud Voice ID</option>
          </select>
        </div>
      </div>

      <div class="filter"  style="width: calc(100% - 500px);">
        <div class="label"></div>
        <div class="value" style="width: 100%;">
          <input type="text" [(ngModel)]="searchText" (keydown.enter)="setSearch()" style="width: 100%;">
        </div>
      </div>

      <div class="filter searchFilter">
        <div class="btn" (click)="setSearch()">
          Search
        </div>

        <div class="excel_btn selectItem" (click)="addAlarm()">
          <img src="assets/icon/add-button.png">
        </div>

        <!--<label class="excel_btn selectItem" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">

        <div class="excel_btn selectItem" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>
      -->
      </div>
    </div>


    <div class="pushAlarmContents">
      <ag-grid-angular #pushAlarmGrid style="width: 100%; height: calc(100% - 60px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="pushinfos.entities"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>


    </div>

  </div>


</div>
