.pushAlarmContainer{
  width: 100%;
  height: 100%;
}

.pushAlarmContainer .pushAlarmLayout{
  width: 100%;
  height: 100%;
}

.pushAlarmContainer .pushAlarmLayout .pushAlarmContents{
  width: 100%;
  height: calc(100% - 60px);
}
