<div class="remoteControlContainer">

  <div class="remoteControlLayout whiteBoardBoax">

    <div class="tabListContainer" *ngIf="currentUser.authorityId == 'root' || currentUser.authorityId == 'admin'">
      <div class="tab" [ngClass]="{select: router.url.indexOf('state') > -1 }" [routerLink]="['/main/control/remoteControl/state']">
        {{ 'Remote control' | translate }}
      </div>
      <div class="tab" [ngClass]="{select: router.url.indexOf('configure') > -1 }" [routerLink]="['/main/control/remoteControl/configure']">
        {{ 'CONFIGURE' | translate }}
      </div>
    </div>

    <div class="line"></div>

    <router-outlet></router-outlet>

  </div>

</div>
