<div class="statusContainer">

  <div class="statusLayout whiteBoardBoax">
    <app-sub-title [title]="'STATUS'"></app-sub-title>
    <div class="statusContents">

      <div class="status">
        <div class="statusValue">100</div>
        <div class="statusLabel">Monitoring</div>
        <div class="monitoringBarChart" id="monitoringBarChart">

        </div>
        <div class="monitoringSubValue"> 在线 0     离线 7</div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
          <div class="statusValue">200</div>
          <div class="statusLabel">Total Mileage</div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
          <div class="statusValue">300</div>
          <div class="statusLabel">Electrical energy consumption(kWh)</div>
          <div class="monitoringBarChart" id="energyBarChart"></div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
          <div class="statusValue">400</div>
          <div class="statusLabel">Failures</div>
          <div class="monitoringBarChart" id="failuresBarChart"></div>
      </div>

    </div>
  </div>

  <div class="distributionByRegion whiteBoardBoax">
    <app-sub-title [title]="'DISTRIBUTION BY REGION'"></app-sub-title>
    <div class="chartLayout">
      <canvas id="chart" style="width: 100%; height: 100%;"></canvas>
    </div>
  </div>

  <div class="vehicleFailureRate whiteBoardBoax">
    <app-sub-title [title]="'VEHICLE FAILURE RATE'"></app-sub-title>
    <div class="chartLayout">
      <canvas id="chart1" style="width: 100%; height: 100%;"></canvas>
    </div>
  </div>

  <div class="failureOccupancyRate whiteBoardBoax">
    <app-sub-title [title]="'FAILURE OCCUPANCY RATE'"></app-sub-title>
    <div class="chartLayout">
      <canvas id="chart2" style="width: 100%; height: 100%;"></canvas>
    </div>
  </div>

  <div class="top10VehicleByFailure whiteBoardBoax">
    <app-sub-title [title]="'TOP 10 VEHICLE BY FAILURE'"></app-sub-title>
    <div class="chartLayout">
      <canvas id="chart3" style="width: 100%; height: 100%;"></canvas>
    </div>
  </div>

</div>
