.statusContainer{
  width: 100%;
  height: calc(100% - 30px);
  min-width: 1300px
}

.statusContainer .statusLayout{
  width: 100%;
  height: 150px;
}

.statusContainer .statusLayout .statusContents{
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  align-items: center;
}

.statusContainer .statusLayout .statusContents .status{
  width: 25%;
  height: 100%;
}

.statusContainer .statusLayout .statusContents .statusLine{
  width: 1px;
  height: calc(100% - 30px);
  margin-bottom: 30px;
  background-color: #9d9d9d;
}

.statusContainer .distributionByRegion,
.statusContainer .vehicleFailureRate,
.statusContainer .failureOccupancyRate,
.statusContainer .top10VehicleByFailure{
  width: calc(50% - 10px);
  height: calc(50% - 75px);
  margin-top: 15px;
  float: left;
}

.statusContainer .vehicleFailureRate,
.statusContainer .top10VehicleByFailure{
  margin-left: 15px;
}

.status .statusValue,
.status .statusLabel,
.status .monitoringBarChart,
.status .monitoringSubValue{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusLine{
  margin-top: 0 !important;
  margin-bottom: 30px !important;

}

.status .statusLabel{
  color: #8b8b8b;
}

.status .statusValue{
  font-size: 30px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10px;
}

.chartLayout{
  width: 100%;
  height: calc(100% - 40px);

}

.chartLayout div{
width: 100%;
height: 100%;
}

.vehicleByFalureList{
  width: 100%;
  height: calc(100% - 40px);
}

.vehicleByFalure{
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  margin: 0 20px;
  border-bottom: 1px solid #d1d1d1;;
  border-radius: 10px;
  position: relative;
}

.vehicleByFalure .listIndex{
  width: 50px;
  text-align: center;
}

.vehicleByFalure .listTitle{
  font-weight: bold;
}

.vehicleByFalure .listValue{
  position: absolute;
  right: 10px;
}
