<div class="statusContainer">

  <div class="statusLayout whiteBoardBoax">
    <app-sub-title [title]="'STATUS'"></app-sub-title>
    <div class="statusContents">
      <div class="status">
        <div class="statusValue">{{statisticsVehiclesSummary.totalVehicles}}</div>
        <div class="statusLabel">Total Vehicles</div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
          <div class="statusValue">{{statisticsVehiclesSummary.totalMileage}}</div>
          <div class="statusLabel">Total Mileage</div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
          <div class="statusValue">{{statisticsVehiclesSummary.loginVehicles}}</div>
          <div class="statusLabel">Login Vehicels</div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
          <div class="statusValue">{{statisticsVehiclesSummary.loginVehicles}}</div>
          <div class="statusLabel">Login Vehicles</div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
          <div class="statusValue">{{statisticsVehiclesSummary.totalEnergyUsage}}</div>
          <div class="statusLabel">Total Energy Usage</div>
      </div>

    </div>
  </div>

  <div class="distributionByRegion whiteBoardBoax">
    <app-sub-title [title]="'DISTRIBUTION BY REGION'"></app-sub-title>
    <div class="chartLayout">
      <div id="chart"></div>
    </div>
  </div>

  <div class="vehicleFailureRate whiteBoardBoax">
    <app-sub-title [title]="'VEHICLE FAILURE RATE'"></app-sub-title>
    <div class="chartLayout">
      <div id="chart1" ></div>
    </div>
  </div>

  <div class="failureOccupancyRate whiteBoardBoax">
    <app-sub-title [title]="'FAILURE OCCUPANCY RATE'"></app-sub-title>
    <div class="chartLayout">
      <div id="chart2"></div>
    </div>
  </div>

  <div class="top10VehicleByFailure whiteBoardBoax">
    <app-sub-title [title]="'TOP 10 VEHICLE BY FAILURE'"></app-sub-title>
    <div class="chartLayout">
      <div id="chart3" ></div>
    </div>
  </div>

</div>
