<div class="statisticsContainer ">
  <div class="statisticsLayout whiteBoardBoax">
    <div class="statisticsTab">
      <!--<div class="tab" [ngClass]="{select: router.url.indexOf('total') > -1 }" [routerLink]="['/main/statistics/total']">
        Total
      </div>
      <div class="tab" [ngClass]="{select: router.url.indexOf('driving') > -1 }" [routerLink]="['/main/statistics/driving']">
        Driving charging
      </div>
      <div class="tab" [ngClass]="{select: router.url.indexOf('single') > -1 }" [routerLink]="['/main/statistics/single']">
        Single
      </div>
      <div class="tab" [ngClass]="{select: router.url.indexOf('search') > -1 }" [routerLink]="['/main/statistics/search']">
        Search Data
      </div>
    -->

      <div class="tab" [ngClass]="{select: router.url.indexOf('warningStatistics') > -1 }" [routerLink]="['/main/statistics/warningStatistics']">
        Warning
      </div>
      <div class="tab" [ngClass]="{select: router.url.indexOf('monthlyVehicleStatistics') > -1 }" [routerLink]="['/main/statistics/monthlyVehicleStatistics']">
        Monthly Vehicle
      </div>
      <!--<div class="tab" [ngClass]="{select: router.url.indexOf('userChargingPatternAnalysis') > -1 }" [routerLink]="['/main/statistics/userChargingPatternAnalysis']">
        Charging Pattern Analysis
      </div>-->
      <div class="tab" [ngClass]="{select: router.url.indexOf('travelDistanceStatistics') > -1 }" [routerLink]="['/main/statistics/travelDistanceStatistics']">
        Travel Distance
      </div>

    </div>

    <div class="line"></div>

    <router-outlet></router-outlet>

  </div>
</div>
