.warningStatisticsContainer{
  width: 100%;
  height: calc(100% - 30px);
}

.warningStatisticsContainer .warningStatisticsLayout{
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #eeeef5;
}

.status{
  width: 33% !important;
}

.statusLabel{
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.statusValue{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.contentRightLayout{
  width: calc(50% - 10px);
  height: calc(100% - 170px);
  float: left;
  margin-top: 16px;

}

.contentLeftLayout{
  width: calc(50% - 10px);
  height: calc(100% - 170px);
  float: left;
  margin-top: 16px;
  margin-left: 16px;
}

.statisticsFilter{
  width: 100%;

}

.statisticsFilter .statisticsLabel{
  width: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}


.statisticsFilter .statisticsGauge{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.statisticsGauge mat-progress-bar{
  width: 80%;
  height: 30px;
  border-radius: 5px;
}

.contetnsDivisionLine{
  height: calc(100% - 220px);;
  width: 1px;
  background-color: #eeeef5;
  float: left;
}
