<div class="warningStatisticsContainer">

  <div class="warningStatisticsLayout">
    <div class="statusContents">
      <div class="status">
        <div class="statusBox">
          <div class="statusValue">{{warningsSummary.warningVehicles}}</div>
          <div class="statusLabel">{{ 'Warning Vehicles' | translate }}</div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <div class="statusValue">{{warningsSummary.warnings}}</div>
          <div class="statusLabel">{{ 'warnings' | translate }}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="contentRightLayout">
    <app-sub-title [title]="'MAP' | translate"></app-sub-title>
    <div id="map"></div>
  </div>

  <div class="contentLeftLayout">
    <app-sub-title [title]="'GAUGE' | translate"></app-sub-title>

    <div class="statisticsFilter" *ngFor="let model of warningsSummary.warningByModel; let i = index">

      <div class="statisticsLabel"> {{model.key}} </div>
      <div class="statisticsGauge progress-{{i}}">
        <mat-progress-bar
          [mode]="'determinate'"
          [value]="model.value"
          [bufferValue]="75">
        </mat-progress-bar>

        <div style="margin-left: 20px; font-size: 14px; ">
          {{model.value}}%
        </div>
      </div>
    </div>
  </div>
</div>
