<div class="terminalContainer">
  <div class="terminalLayout whiteBoardBoax">
    <div class="title" style="  border-radius: 8px 8px 0px 0px;">
      <img src="assets/icon/monitor.png">
      {{ 'Console' | translate }}
    </div>

    <div class="consoleResult">

      <pre style="white-space: pre-line;">
        {{consoleText}}
      </pre>



    </div>


    <div class="title">
      <img src="assets/icon/window.png">
      {{ 'Command' | translate }}
    </div>
    <div class="commandInputTextBox">
      <input class="commandInputText" type="text" (keydown.enter)="setCommand()" [(ngModel)]="command">
    </div>

    <!--<ng-terminal #term
      [dataSource]="writeSubject"
      [rows]="_rows"
      [minWidth]="200"
      [minHeight]="200"
      [draggable]="_draggable"
      class="ng-terminal">
    </ng-terminal>-->
  </div>



</div>
