<div class="monitoringWarningContainer">
  <div class="monitoringDetailLine">
    <div class="label">Max Warning</div>
    <div class="value">Normal</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Warning Flag</div>
    <div class="value"></div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Number of PTB Trouble</div>
    <div class="value">0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Number of Motor Trouble</div>
    <div class="value">0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Number of Engine Trouble</div>
    <div class="value">0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Number of ETC Trouble</div>
    <div class="value">0</div>
  </div>
</div>
