<div class="monitoringMotorContainer">
  <div class="monitoringDetailLine">
    <div class="label">Motor Serial Number</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Motor Status</div>
    <div class="value">Consumption</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Motor Control Temp(°C)</div>
    <div class="value">40</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Motor RPM(r/min)</div>
    <div class="value">723.0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Motor Torque(N*m)</div>
    <div class="value">0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Motor Temp(°C)</div>
    <div class="value">71</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Motor input Volt(V)</div>
    <div class="value">341</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Motor Controller DC Bus Am(A)</div>
    <div class="value">0.2</div>
  </div>
</div>
