.datectErrorContainer{
  width: 100%;
  height: 100%;
}

.datectErrorContainer .datectErrorLayout{
  width: 100%;
  height: 100%;
}

.datectErrorContents{
  width: 100%;
  height: calc(100% - 40px);
}

.tabListContainer{
  border-bottom:1px solid var(--ag-border-color, #babfc7);
}
