<div class="gridControlBox">
  <div class="btn add" (click)="addConfigure()">
    Add
  </div>
  <!--<div class="btn copy" [ngClass]="{'selectItem': configureGridApi != null && configureGridApi.getSelectedRows().length != 0}">
    Copy
  </div>-->
  <div class="btn modify" [ngClass]="{'selectItem': configureGridApi != null && configureGridApi.getSelectedRows().length != 0}" (click)="modifyConfigure()">
    Modify
  </div>
  <div class="btn delete" [ngClass]="{'selectItem': configureGridApi != null && configureGridApi.getSelectedRows().length != 0}" (click)="deleteConfigure()">
    Delete
  </div>

  <div style="display: flex; position: absolute; right: 40px;">
    <label class="excel_btn" for="uploadExcel1">
      <img src="assets/icon/excel_upload.png">
    </label>

    <input id="uploadExcel1" type="file" style="display: none;">

    <div class="excel_btn" (click)="onBtExport('configure')">
      <img src="assets/icon/excel_download.png">
    </div>
  </div>

</div>

<ag-grid-angular style="width: 100%; height: calc(50% - 100px)"
  class="ag-theme-alpine"
  [rowData]="devicemanagersParameter.entities"
  [columnDefs]="configurationColumnDefs"
  [pagination]="true"
  [paginationPageSize]="17"
  [tooltipShowDelay]="0"
  (gridReady)="onServerGridReady($event)"
  (rowClicked)="onConfigureRowClicked($event)">
</ag-grid-angular>

<div class="gridControlBox">
  <div class="btn add" [ngClass]="{'disable': selectConfigureRow == null}" (click)="addVehicle()">
    Add
  </div>
  <!--<div class="btn modify" [ngClass]="{'selectItem': mappingGridApi != null && mappingGridApi.getSelectedRows().length != 0}" (click)="modifyMapping()">
    Modify
  </div>-->
  <div class="btn delete" [ngClass]="{'selectItem': mappingGridApi != null && mappingGridApi.getSelectedRows().length != 0}" (click)="deleteMapping()">
    Delete
  </div>

  <div style="display: flex; position: absolute; right: 40px;">
    <label class="excel_btn" for="uploadExcel1">
      <img src="assets/icon/excel_upload.png">
    </label>

    <input id="uploadExcel1" type="file" style="display: none;">

    <div class="excel_btn" (click)="onBtExport('vehicle')">
      <img src="assets/icon/excel_download.png">
    </div>
  </div>

</div>

<ag-grid-angular style="width: 100%; height: calc(50% - 100px)"
  class="ag-theme-alpine"
  [rowData]="devicemanagersParameterVehicle.entities"
  [columnDefs]="mappingColumnDefs"
  [pagination]="true"
  [paginationPageSize]="17"
  [tooltipShowDelay]="0"
  (gridReady)="onMappingGridReady($event)">
</ag-grid-angular>
