<div class="gridControlBox">
  <div class="btn add" (click)="addConfigure()">
    Add
  </div>

  <div class="iconBtnBox">
    <div class="excel_btn" [ngClass]="{'selectItem': configureGridApi != null && configureGridApi.getSelectedRows().length != 0}" (click)="modifyConfigure()">
      <img src="assets/icon/edit.png">
    </div>

    <div class="excel_btn" [ngClass]="{'selectItem': configureGridApi != null && configureGridApi.getSelectedRows().length != 0}" (click)="deleteConfigure()">
      <img src="assets/icon/delete.png">
    </div>

    <label class="excel_btn selectItem" for="uploadExcel">
      <img src="assets/icon/excel_upload.png">
    </label>
    <input id="uploadExcel" type="file" style="display: none;">

    <div class="excel_btn selectItem" (click)="onBtExport('configure')">
      <img src="assets/icon/excel_download.png">
    </div>
  </div>

</div>

<div style="width: 100%; height: calc(50% - 77px)">
  <ag-grid-angular #configure1 style="width: 100%; height: calc(100% - 50px)" (window:resize)="onResize($event)"
    class="ag-theme-alpine"
    [rowData]="devicemanagersParameter.entities"
    [columnDefs]="configurationColumnDefs"
    [tooltipShowDelay]="0"
    [rowSelection]="'single'"
    (gridReady)="onServerGridReady($event)"
    (rowClicked)="onConfigureRowClicked($event)">
  </ag-grid-angular>

  <div style="width: 100%; height: 50px;">
    <app-grid-page [gridNumber]="1"></app-grid-page>
  </div>
</div>



<div class="gridControlBox">
  <div class="btn add" [ngClass]="{'disable': selectConfigureRow == null}" (click)="addVehicle()">
    Add
  </div>

  <div class="iconBtnBox">
    <div class="excel_btn" [ngClass]="{'selectItem': mappingGridApi != null && mappingGridApi.getSelectedRows().length != 0}" (click)="deleteMapping()">
      <img src="assets/icon/delete.png">
    </div>

    <label class="excel_btn selectItem" for="uploadExcel">
      <img src="assets/icon/excel_upload.png">
    </label>
    <input id="uploadExcel" type="file" style="display: none;">

    <div class="excel_btn selectItem" (click)="onBtExport('vehicle')">
      <img src="assets/icon/excel_download.png">
    </div>
  </div>


</div>
<div style="width: 100%; height: calc(50% - 77px)">
  <ag-grid-angular #configure2 style="width: 100%; height: calc(100% - 50px)"
    class="ag-theme-alpine"
    [rowData]="devicemanagersParameterVehicle.entities"
    [columnDefs]="mappingColumnDefs"
    [tooltipShowDelay]="0"
    [rowSelection]="'single'"
    (gridReady)="onMappingGridReady($event)">
  </ag-grid-angular>
  <div style="width: 100%; height: 50px;">
    <app-grid-page [gridNumber]="1"></app-grid-page>
  </div>

</div>

