<div class="vehicleModelContainer">
  <div class="vehicleModelLayout">

    <div class="gridFilterBox">
      <!--<div class="btn add" (click)="addVehicleModel()">
        Add
      </div>
      -->
      <div class="iconBtnBox">
        <!--<div class="excel_btn" [ngClass]="{'selectItem': gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="modifyVehicleModel()">
          <img src="assets/icon/edit.png">
        </div>

        <div class="excel_btn" [ngClass]="{'selectItem': gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="deleteVehicle()">
          <img src="assets/icon/delete.png">
        </div>
        -->

        <div class="excel_btn selectItem" (click)="addVehicleModel()">
          <img src="assets/icon/add-button.png">
        </div>

        <label class="excel_btn selectItem" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">

        <div class="excel_btn selectItem" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>
      </div>

    </div>

    <div class="vehicleModelContents">
      <ag-grid-angular #vehicleModelGrid style="width: 100%; height: calc(100% - 54px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="model.modelList"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>


      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>


    </div>

  </div>


</div>
