<div class="vehicleModelContainer">
  <div class="vehicleModelLayout whiteBoardBoax">

    <div class="gridControlBox">
      <div class="btn add" (click)="addVehicleModel()">
        Add
      </div>
      <div class="btn modify" [ngClass]="{'selectItem': gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="modifyVehicleModel()">
        Modify
      </div>
      <div class="btn delete" [ngClass]="{'selectItem': gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="deleteVehicle()">
        Delete
      </div>
    </div>

    <div class="vehicleModelContents">
      <ag-grid-angular style="width: 100%; height: 100%"
        class="ag-theme-alpine"
        [rowData]="modelList"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="17"
        [tooltipShowDelay]="0"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>

  </div>


</div>
