<div class="monitoringPowerBatteryInfomationContainer">
  <div class="monitoringDetailLine">
    <div class="label">PTB Assembly No</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">PTB Volt(V)</div>
    <div class="value">341.6</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">PTB Am(A)</div>
    <div class="value">0.2</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Battery All Num</div>
    <div class="value">96.0</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Frame Start Battery No</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Fram Start Battery All Num</div>
    <div class="value">96</div>
  </div>

</div>
