<div class="addVehicleModelConatiner">

  <div class="popupTitle">
    <div class="text">
      Vehicle Model
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">Model Name <span>*</span> </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.modelName" [disabled]="data.type == constant.MODIFY_TYPE">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> drive motor kind </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.driveMotorKind">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> max speed (km/h) </div>
    <div class="value">
      <input type="number" [OnlyNumber]="true" [(ngModel)]="addVehicleModelParameter.maxSpeed">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> pure electric distance (km)</div>
    <div class="value">
      <input type="number" [OnlyNumber]="true" [(ngModel)]="addVehicleModelParameter.pureElectricDistance">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> gear ratio </div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.gearRatio">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> warning pre value </div>
    <div class="value">
      <input type="number" [OnlyNumber]="true" [(ngModel)]="addVehicleModelParameter.warningPreValue">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> fuel type </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.fuelType">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> fuel label </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.fuelLabel">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> max power </div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.maxPower">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> max torque (0.1N*m)</div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.maxTorque">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> battery type </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.batteryType">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> battery total energy (kwh)</div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.batteryTotalEnergy">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> battery cooling system </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.batteryCoolingSystem">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> motor cooling system </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.motorCoolingSystem">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> rated voltage (0.1V)</div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.ratedVoltage">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> motor max current (0.1A)</div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.motorMaxCurrent">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> motor type </div>
    <div class="value">
      <input type="text" [(ngModel)]="addVehicleModelParameter.motorType">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> motor peak power </div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.motorPeakPower">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> motor max speed (rpm)</div>
    <div class="value">
      <input type="number" [OnlyNumber]="true" [(ngModel)]="addVehicleModelParameter.motorMaxSpeed">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> motor peak torque (0.1N*m)</div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.motorPeakTorque">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> motor max torque (0.1N*m) </div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.motorMaxTorque">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label"> Power Ratio </div>
    <div class="value">
      <input type="number" [(ngModel)]="addVehicleModelParameter.powerRatio">
    </div>
  </div>



  <div class="btnBox">
    <div class="btn add" *ngIf="data.type == constant.ADD_TYPE" (click)="addVehicleModel()">
      Add
    </div>
    <div class="btn modify" *ngIf="data.type == constant.MODIFY_TYPE" (click)="modifyVehicleModel()">
      Modify
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>
</div>
