/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
/*@import '../node_modules/ag-grid-community/styles/ag-grid.css';*/
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@import 'assets/css/add-popup.css';
@import 'assets/css/grid-filter.css';
@import 'assets/css/monitoring-detail.css';
@import 'assets/css/status.css';

@font-face {
  font-family: 'notokr-medium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/font/NotoSans/NotoSansCJKkr-Medium.otf');
}

@font-face {
  font-family: 'notokr-light';
  font-style: normal;
  font-weight: normal;
  src: url('assets/font/NotoSans/NotoSansCJKkr-Light.otf');
}

html{
  background-color: #f9fbfb;
}

html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div{
  font-family: 'notokr-medium';
  font-size: 14px;
}

input[type="text"],
input[type="password"]{
  border: 2px solid rgb(238, 238, 238);
  background-color: white;
  font-size: 14px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.mat-select-arrow{
  border: none !important;
}

input::placeholder {
  color: #eeeef5;
}

input:focus{
  outline:none
}

.whiteBoardBoax{
  background-color: white;
  border: 1px solid #eeeef5;
  border-radius: 10px;
}

.ag-root-wrapper{
  border: none !important;
}

.gridRowSelect{
  background-color: rgba(33, 150, 243, 0.1) !important;
}

.ag-center-cols-container{
  width: 100%;
}

/*스크롤바 전체*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*스크롤막대 외부*/
::-webkit-scrollbar-track {
  width: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/*스크롤 막대*/
::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.leaflet-control-attribution{
  display: none !important;
}

.leaflet-popup-close-button {
  display: none;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-top-left{
  display: none !important;
}

.defaultButton{
  width: 100px;
  height: 30px;
  border: 1px solid #2093ff;
  background-color: #2093ff;
  float: left;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.linkDiv{
  position: absolute;
  right: 20px;
  color: #3b7aef;
  cursor: pointer;
  font-size: 14px;
}

.popupClose{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.popupClose img{
  width: 100%;
  height: 100%;
}

.bakcgroundColorGray .mat-dialog-container{
  background-color: #464646  !important;
}

.tabListContainer{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.tabListContainer .tab{
  margin: 0 10px;
  padding: 0 20px;
  font-size: 14px;
  color: #3f4472;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tabListContainer .tab.select{
  color: #2fc8b0 !important;
  height: calc(100% - 1px);
  border-bottom: 1px solid #2fc8b0;
}

.informationContents{
  width: 100%;
  height: calc(100% - 50px);
}

.informationFild{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
}

.informationLable{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #bbbbbb;
}

.informationValue{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
  justify-content: end;
  margin-right: 30px;
}

/*input number arrow hide*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#map{
  margin-left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 55px);
  box-shadow: 1px 1px 5px #a5a5a5;
}

.mat-tab-label-content{
  font-size: 10px !important;
}

.mat-tab-label{
  padding: 0 10px !important;
  min-width: 0px !important;
}
