<div class="publicPlatformManagementContainer">

  <div class="publicPlatformManagementLayout">
    <div class="gridControlBox">
      <div class="btn add" (click)="addManagement()">
        Add
      </div>
      <div class="btn modify" [ngClass]="{'selectItem': managementGridApi != null && managementGridApi.getSelectedRows().length != 0}" (click)="modifyManagement()">
        Modify
      </div>
      <div class="btn delete" [ngClass]="{'selectItem': managementGridApi != null && managementGridApi.getSelectedRows().length != 0}" (click)="deleteManagement()">
        Delete
      </div>

      <div style="display: flex; position: absolute; right: 40px;">
        <label class="excel_btn" for="uploadExcel1">
          <img src="assets/icon/excel_upload.png">
        </label>

        <input id="uploadExcel1" type="file" style="display: none;">

        <div class="excel_btn" (click)="onBtExport('management')">
          <img src="assets/icon/excel_download.png">
        </div>
      </div>

    </div>

    <ag-grid-angular style="width: 100%; height: calc(100% - 50px)"
      class="ag-theme-alpine"
      [rowData]="managementRowData"
      [columnDefs]="managementColumnDefs"
      [pagination]="true"
      [paginationPageSize]="20"
      (gridReady)="onServerGridReady($event)"
      [tooltipShowDelay]="0">
    </ag-grid-angular>

  </div>

  <div class="publicPlatformMappingLayout">

    <div class="gridControlBox">
      <div class="btn add" (click)="addMapping()">
        Add
      </div>
      <div class="btn modify" [ngClass]="{'selectItem': mappingGridApi != null && mappingGridApi.getSelectedRows().length != 0}" (click)="modifyMapping()">
        Modify
      </div>
      <div class="btn delete" [ngClass]="{'selectItem': mappingGridApi != null && mappingGridApi.getSelectedRows().length != 0}" (click)="deleteMapping()">
        Delete
      </div>

      <div style="display: flex; position: absolute; right: 40px;">
        <label class="excel_btn" for="uploadExcel2">
          <img src="assets/icon/excel_upload.png">
        </label>

        <input id="uploadExcel2" type="file" style="display: none;">

        <div class="excel_btn" (click)="onBtExport('mapping')">
          <img src="assets/icon/excel_download.png">
        </div>
      </div>

    </div>

    <ag-grid-angular style="width: 100%; height: calc(100% - 50px)"
      class="ag-theme-alpine"
      [rowData]="mappingRowData"
      [columnDefs]="mappingColumnDefs"
      [pagination]="true"
      [paginationPageSize]="20"
      (gridReady)="onMappingGridReady($event)"
      [tooltipShowDelay]="0">
    </ag-grid-angular>
  </div>
</div>

