.publicPlatformManagementContainer{
  width: 100%;
  height: calc(100% - 50px);
}

.publicPlatformManagementContainer .publicPlatformManagementLayout,
.publicPlatformManagementContainer .publicPlatformMappingLayout{
  width: 100%;
  height: 50%
}
