.otaManagementContainer{
  width: 100%;
  height: 100%;
  display: flex;
}

.otaManagementContainer .leftLayout{
  width: 20%;
  height: calc(100% - 20px);
}

.otaManagementContainer .leftLayout .listBtnBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.otaManagementContainer .leftLayout .listBtnBox .otaBtn{
  width: 30px;
  height: 30px;
  margin: 10px 10px;
  cursor: pointer;
}

.otaManagementContainer .leftLayout .listBtnBox .otaBtn img{
  width: 100%;
  height: 100%;
}

.leftListBox{
  width: 100%;
  height: calc(100% - 50px);
}

.leftListBox .listItem{
  width: 100%;
  padding: 0 10px;
  margin: 10px 0;
}

.rowTitle{
  width: calc(100% - 20px);
  font-size: 20px;
  border-bottom: 1px solid rgb(240, 239, 239);
  cursor: pointer;
}

.rowContent{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.rowFild{
  display: flex;
}

.contentValue{
  margin-left: 10px;
}

.openRowContent{
  max-height: 100px !important;
}

.otaManagementContainer .rightLayout{
  width:calc(80% - 20px);
  height: calc(100% - 20px);
  margin-left: 20px;
}

.filter{
  margin: 0;
}

.filter img{
  width: 20px;
  height: 20px;
}

.imageDisabled{
  opacity: 0.5;
}
