<div class="otaManagementContainer">
  <div class="leftLayout whiteBoardBoax">
    <div class="listTitleBox">
      <div class="titleText">
        {{ 'MODELS' | translate }}
      </div>
    </div>
    <div class="leftListBox">
      <!--<div class="listItem" *ngFor="let model of modelList.modelList">

        <div class="arrowBox" [ngClass]="{'imageRotate': selectModel == model}">
          <img *ngIf="model.firmwareList && model.firmwareList.length != 0" src="assets/icon/right-arrow.png" style="width:10px; height: 10px;">
        </div>

        <div class="rowTitle" (click)="modelRowOpen(model)">{{model.modelName}}</div>

        <div class="firmwareListBox" [ngClass]="{'openFirmwareList': selectModel == model}">
          <div class="listItem" *ngFor="let firmware of model.firmwareList">
            <div class="arrowBox" [ngClass]="{'imageRotate': selectFirmware == firmware}">
              <img src="assets/icon/right-arrow.png" style="width:10px; height: 10px;">
            </div>

            <div class="imageBox">
              <img src="assets/icon/firmware.png" style="width:25px; height: 25px;">
            </div>

            <div class="rowTitle" (click)="rowOpen(firmware)">{{firmware.firmwareName}}</div>
            <div class="rowContent" [ngClass]="{'openRowContent': selectFirmware == firmware}">
              <div style="padding: 10px;">
                <div class="rowFild">
                  <div class="contentLabel">
                    H/W ver :
                  </div>
                  <div class="contentValue">
                    {{firmware.hwVersion}}
                  </div>
                </div>

                <div class="rowFild">
                  <div class="contentLabel">
                    F/W ver :
                  </div>
                  <div class="contentValue">
                    {{firmware.fwVersion}}
                  </div>
                </div>
                <div class="rowFild">
                  {{firmware.createdAt | dateformat}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->


      <div class="listItem" *ngFor="let model of modelList.modelList" [ngClass]="{'selectListItem': selectModel == model}">
        <div class="rowTitle" (click)="modelRowOpen(model)">{{model.modelName}}</div>
      </div>

    </div>
  </div>

  <div class="centerLayout" *ngIf="selectModel != null">
    <div class="centerTopLayout whiteBoardBoax" >
      <div class="listTitleBox">
        <div class="titleText">
          {{selectModel.modelName}}
        </div>
        <div class="listBtnBox">

          <div class="otaBtn" (click)="leftListAddModal()">
            <img src="assets/icon/add-button.png">
          </div>

          <div class="otaBtn" (click)="leftListRemove()">
            <img src="assets/icon/delete.png">
          </div>

          <!--<div class="otaBtn add" (click)="leftListAddModal()">
            <img src="assets/icon/more.png">
            &nbsp;ADD
          </div>
          <div class="otaBtn remove" (click)="leftListRemove()">
            <img src="assets/icon/minus.png">
            &nbsp;DELETE
          </div>
          <div class="otaBtn upload">
            <img src="assets/icon/upload.png">
            &nbsp;UPLOAD
          </div>
          -->
        </div>
      </div>

      <div class="leftListBox">
        <div class="listItem" *ngFor="let firmware of firmwareList.entities" [ngClass]="{'selectListItem': selectFirmware == firmware}">
          <div class="rowTitle" (click)="rowOpen(firmware)">{{firmware.firmwareName}}</div>
        </div>
      </div>

    </div>
    <div class="centerBottomLayout whiteBoardBoax" *ngIf="selectFirmware != null">
      <div class="rowContent">
        <div style="padding: 10px;">
          <div class="rowFild">
            <div class="contentLabel">
              Model Name :
            </div>
            <div class="contentValue">
              {{selectFirmware.modelName}}
            </div>
          </div>

          <div class="rowFild">
            <div class="contentLabel">
              Firmware Name :
            </div>
            <div class="contentValue">
              {{selectFirmware.firmwareName}}
            </div>
          </div>

          <div class="rowFild">
            <div class="contentLabel">
              H/W ver :
            </div>
            <div class="contentValue">
              {{selectFirmware.hwVersion}}
            </div>
          </div>

          <div class="rowFild">
            <div class="contentLabel">
              F/W ver :
            </div>
            <div class="contentValue">
              {{selectFirmware.fwVersion}}
            </div>
          </div>

          <div class="rowFild">
            <div class="contentLabel">
              Data Size :
            </div>
            <div class="contentValue">
              {{selectFirmware.dataSize}}
            </div>
          </div>

          <div class="rowFild">
            <div class="contentLabel">
              Data File Path :
            </div>
            <div class="contentValue">
              {{selectFirmware.dataFilePath}}
            </div>
          </div>

          <div class="rowFild">
            <div class="contentLabel">
              Created User  :
            </div>
            <div class="contentValue">
              {{selectFirmware.createdBy.username}}
            </div>
          </div>

          <div class="rowFild">
            <div class="contentLabel">
              Created Time :
            </div>
            <div class="contentValue">
              {{selectFirmware.createdAt | dateformat}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="centerBottomLayout whiteBoardBoax selectAlert" *ngIf="selectFirmware == null">
      Select Firmware
    </div>
  </div>

  <div class="centerLayout whiteBoardBoax selectAlert" *ngIf="selectModel == null">
    {{ 'Select Model' | translate }}
  </div>

  <div class="rightLayout whiteBoardBoax">
    <div class="gridFilterBox">
      <div *ngIf="selectFirmware != null" style="position: absolute; left: 20px; font-size: 20px; font-weight: bold;">
        {{selectFirmware.firmwareName}}
      </div>

      <div class="filter">
        <div class="label">VIN</div>
        <div class="value" >
          <input (focus)="vinSearchListShow=true" (focusout)="vinInputFocusout()" cdkTrapFocus type="text" [(ngModel)]="inputVinText" style="width: 300px;" (ngModelChange)="getVehiclemanagerStaticinfo()" [disabled]="selectFirmware == null">
          <div class="vinSearchList" *ngIf="inputVinText != '' && vinSearchListShow">
            <div class="searchListItem" *ngFor="let vehicle of searchVehicleList" (mousedown)="vehicleItemClick(vehicle.vin)">
              {{vehicle.vin}}
            </div>
            <div *ngIf="searchVehicleList.length==0" style="font-weight: bold; color: gray;">
              VIN not found.
            </div>
          </div>
        </div>
      </div>

      <!--<div class="filter">
        <button mat-icon-button (click)="inputVinTextClose()" [disabled]="inputVinText == ''">
          <img src="assets/icon/close.png" [ngClass]="{'imageDisabled': inputVinText == ''}">
        </button>
      </div>
    -->

      <div class="filter">
        <button mat-icon-button (click)="postDevicemanagersFirmwareFirmwareNo()" [disabled]="inputVinText == '' || selectFirmware == null">
          <img src="assets/icon/plus.png" [ngClass]="{'imageDisabled': inputVinText == ''  || selectFirmware == null}">
        </button>
      </div>

      <div class="filter">
        <button mat-icon-button (click)="deleteDevicemanagersFirmwareFirmwareNameVehiclesVin()" [disabled]="!gridApi || gridApi.getSelectedRows().length == 0">
          <img src="assets/icon/minus2.png" [ngClass]="{'imageDisabled': !gridApi || gridApi.getSelectedRows().length == 0}">
        </button>
      </div>

      <div class="filter">
        <button mat-icon-button (click)="importFirmwareVehiclesInput.click()" [disabled]="selectFirmware == null">
          <img src="assets/icon/upload.png" [ngClass]="{'imageDisabled': selectFirmware == null}">
        </button>
        <input #importFirmwareVehiclesInput id="importFirmwareVehiclesInput" type="file" style="display: none;" (change)="importFirmwareVehicles($event)">
      </div>


      <!--<div class="filter">
        <button mat-icon-button>
          <img src="assets/icon/check.png">
        </button>
      </div>

      <div class="filter">
        <button mat-icon-button>
          <img src="assets/icon/check-box-empty.png">
        </button>
      </div>
      -->
    </div>

    <div style="height: calc(100% - 62px);">
      <ag-grid-angular #otaManagementGrid style="width: 100%; height: calc(100% - 50px)" (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="firmwareVehiclesList.entities"
        [columnDefs]="firmwareVehiclesColumn"
        (gridReady)="onGridReady($event)"
        [tooltipShowDelay]="0">
        [rowSelection]="'single'"
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>

    </div>
  </div>
</div>
