<div class="otaManagementContainer">
  <div class="leftLayout whiteBoardBoax">
    <div class="listBtnBox">
      <div class="otaBtn add" (click)="leftListAddModal()">
        <img src="assets/icon/more.png">
        &nbsp;ADD
      </div>
      <div class="otaBtn remove" (click)="leftListRemove()">
        <img src="assets/icon/minus.png">
        &nbsp;DELETE
      </div>
      <div class="otaBtn upload" (click)="leftListUpload()">
        <img src="assets/icon/upload.png">
        &nbsp;UPLOAD
      </div>
    </div>

    <div class="leftListBox">
      <div class="listItem" *ngFor="let firmware of firmwareList.entities">

        <div class="arrowBox" [ngClass]="{'imageRotate': selectFirmware == firmware}">
          <img src="assets/icon/right-arrow.png" style="width:20px; height: 20px;">
        </div>

        <div class="rowTitle" (click)="rowOpen(firmware)">{{firmware.firmwareName}}</div>
        <div class="rowContent" [ngClass]="{'openRowContent': selectFirmware == firmware}">
          <div style="padding: 10px;">
            <div class="rowFild">
              <div class="contentLabel">
                H/W ver :
              </div>
              <div class="contentValue">
                {{firmware.hwVersion}}
              </div>
            </div>

            <div class="rowFild">
              <div class="contentLabel">
                F/W ver :
              </div>
              <div class="contentValue">
                {{firmware.fwVersion}}
              </div>
            </div>
            <div class="rowFild">
              {{firmware.createdAt | dateformat}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rightLayout whiteBoardBoax">
    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text" style="width:calc(100vh - 80px)" [(ngModel)]="inputVinText">
        </div>
      </div>

      <!--<div class="filter">
        <button mat-icon-button (click)="inputVinTextClose()" [disabled]="inputVinText == ''">
          <img src="assets/icon/close.png" [ngClass]="{'imageDisabled': inputVinText == ''}">
        </button>

      </div>
    -->
      <div class="filter">
        <button mat-icon-button (click)="postDevicemanagersFirmwareFirmwareNo()" [disabled]="inputVinText == '' || selectFirmware == null">
          <img src="assets/icon/plus.png" [ngClass]="{'imageDisabled': inputVinText == ''  || selectFirmware == null}">
        </button>
      </div>

      <div class="filter">
        <button mat-icon-button (click)="deleteDevicemanagersFirmwareFirmwareNameVehiclesVin()" [disabled]="!gridApi || gridApi.getSelectedRows().length == 0">
          <img src="assets/icon/minus2.png" [ngClass]="{'imageDisabled': !gridApi || gridApi.getSelectedRows().length == 0}">
        </button>
      </div>

      <div class="filter">
        <button mat-icon-button>
          <img src="assets/icon/check.png">
        </button>
      </div>

      <div class="filter">
        <button mat-icon-button>
          <img src="assets/icon/check-box-empty.png">
        </button>
      </div>
    </div>

    <div style="height: calc(100% - 62px);">
      <ag-grid-angular style="width: 100%; height: 100%"
        class="ag-theme-alpine"
        [rowData]="firmwareVehiclesList.entities"
        [columnDefs]="firmwareVehiclesColumn"
        (gridReady)="onGridReady($event)"
        [tooltipShowDelay]="0">
      </ag-grid-angular>

    </div>
  </div>
</div>
