<div class="warningStatisticsContainer">

  <div class="warningStatisticsLayout">
    <div class="statusContents">
      <div class="status">
        <div class="statusBox">
          <app-sub-title [title]="'PIE CHART 1'"></app-sub-title>
          <div class="statusValue">
            <div id="pieChart1"></div>

          </div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <app-sub-title [title]="'PIE CHART 1'"></app-sub-title>
          <div class="statusValue">
            <div id="pieChart2"></div>
          </div>
        </div>
      </div>

      <div class="statusLine"></div>

      <div class="status">
        <div class="statusBox">
          <app-sub-title [title]="'PIE CHART 1'"></app-sub-title>
          <div class="statusValue">
            <div id="pieChart3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="contentLayout">
    <app-sub-title [title]="'DOT CHART'"></app-sub-title>
    <div id="scatterChart"></div>

  </div>
</div>
