<div class="batteryDetailConatiner">

  <div class="popupTitle">
    <div class="text">
      Battery - KMTMA8119PU002953
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="batteryStatusContainer">
    <div class="batteryStatusLayout">
      <div class="batteryStatusBox">
        <div class="batteryStatusValue">
          701.50 V
        </div>
        <div class="batteryStatusTitle">
          Total Voltage
        </div>
      </div>
    </div>

    <div class="statusLine"></div>

    <div class="batteryStatusLayout">
      <div class="batteryStatusBox">
        <div class="batteryStatusValue">
          0.00 A
        </div>

        <div class="batteryStatusTitle">
          Current Ampere
        </div>
      </div>
    </div>

    <div class="statusLine"></div>

    <div class="batteryStatusLayout">
      <div class="batteryStatusBox">
        <div class="batteryStatusValue">
          41 %
        </div>

        <div class="batteryStatusTitle">
          SOC
        </div>
      </div>
    </div>
  </div>

  <div >
    <div id="speedChartContiner"></div>
  </div>



</div>
