<div class="addOtamanagementContainer">

  <div class="popupTitle">
    <div class="text">
      FIRMWARE SETTING
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">Firmware Name <span>*</span> </div>
    <div class="value">
      <input type="text" [(ngModel)]="firmware.meta.firmwareName">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">H/W Version <span>*</span> </div>
    <div class="value">
      <input type="text" [(ngModel)]="firmware.meta.hwVersion">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">F/W Version <span>*</span> </div>
    <div class="value">
      <input type="text" [(ngModel)]="firmware.meta.fwVersion">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Model Name <span>*</span> </div>
    <div class="value">

      <select [(ngModel)]="firmware.meta.modelName">
        <option *ngFor="let model of modelList" [value]="model.modelName">{{model.modelName}}</option>
      </select>
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">UPLOAD FIRMWARE FILE </div>
    <div class="value">
      <label for="file">Upload</label>
      <input type="file" id="file" (change)="fileChang($event)">
      <div style="min-width: 200px; margin-left: 15px; word-wrap: break-word;">
        {{selectFileName}}
      </div>
    </div>
  </div>

  <!--<div class="addInfoFilter">
    <div class="label">Upload State </div>
    <div class="value" style="color: gray;">   Empty    </div>
  </div>
  -->
  <div class="btnBox">
    <div class="btn add" (click)="addOTAManagement()">
      OK
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>

</div>
