<div class="addOtamanagementContainer">

  <div class="popupTitle">
    <div class="text">
      FIRMWARE SETTING
    </div>
    <img class="closeImg" src="assets/icon/close_icon.png" (click)="close()">
  </div>

  <div class="addInfoFilter">
    <div class="label">Firmware Name <span>*</span> </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">H/W Version <span>*</span> </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">F/W Version <span>*</span> </div>
    <div class="value">
      <input type="text">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">UPLOAD FIRMWARE FILE </div>
    <div class="value">
      <label for="ex_file">Upload</label>
      <input type="file" id="ex_file">
    </div>
  </div>

  <div class="addInfoFilter">
    <div class="label">Upload State </div>
    <div class="value" style="color: gray;">   Empty    </div>
  </div>

  <div class="btnBox">
    <div class="btn add" (click)="addOTAManagement()">
      OK
    </div>
    <div class="btn cancel" (click)="close()">
      Cancel
    </div>
  </div>

</div>
