<div class="vehicleSettingContainer">
  <div class="vehicleSettingLayout whiteBoardBoax">
    <app-sub-title [title]="'Vehicle Settings'"></app-sub-title>

    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">Filter</div>
        <div class="value">
          <input type="text">
        </div>
      </div>

      <div class="filter">

        <div class="label">ICCID</div>
        <div class="value">
          <select>
            <option>option1</option>
            <option>option2</option>
          </select>
        </div>

      </div>

      <div class="filter">
        <div class="btn">
          Search
        </div>
      </div>
    </div>

    <div class="gridControlBox">
      <div class="btn add" (click)="addVehicle()">
        Add
      </div>
      <div class="btn modify" [ngClass]="{'selectItem': gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="modifyVehicle()">
        Modify
      </div>
      <div class="btn delete" [ngClass]="{'selectItem': gridApi != null && gridApi.getSelectedRows().length != 0}" (click)="deleteVehicle()">
        Delete
      </div>
    </div>

    <div class="vehicleSettingContents">
      <ag-grid-angular style="width: 100%; height: calc(100% - 40px)"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>

  </div>


</div>
