<div class="serverLogsConatiner">
  <div class="serverLogsLayout whiteBoardBoax">

    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text" [(ngModel)]="searchFilter.vin" (keydown.enter)="setSearch()">
        </div>
      </div>

      <div class="filter">
        <div class="label">Begin</div>
        <div class="value" style="display: flex; align-items: center;">
          <input class="datePickerText" [ngxMatDatetimePicker]="beginPicker" readonly="true" (click)="beginPicker.open()" [(ngModel)]="beginDate" [max]="endDate">
          <mat-icon matDatepickerToggleIcon style="cursor: pointer;"  (click)="clearBeginDate()">clear</mat-icon>
          <ngx-mat-datetime-picker #beginPicker [showSpinners]="true" [hideTime]="false" ></ngx-mat-datetime-picker>
        </div>
      </div>

      <div class="filter">
        <div class="label">End</div>
        <div class="value" style="display: flex; align-items: center;">
          <input class="datePickerText" [ngxMatDatetimePicker]="endPicker" readonly="true" (click)="endPicker.open()" [(ngModel)]="endDate" [min]="beginDate">
          <mat-icon matDatepickerToggleIcon style="cursor: pointer;" (click)="clearEndDate()">clear</mat-icon>
          <ngx-mat-datetime-picker #endPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
        </div>
      </div>

      <div class="filter searchFilter">

        <!--<label class="excel_btn" for="uploadExcel">
          <img src="assets/icon/excel_upload.png">
        </label>
        <input id="uploadExcel" type="file" style="display: none;">
        -->

        <div class="btn" (click)="setSearch()">
          Search
        </div>

        <div class="excel_btn selectItem" (click)="onBtExport()">
          <img src="assets/icon/excel_download.png">
        </div>

      </div>
    </div>

    <div class="serverLogsContents">
      <ag-grid-angular #serverLogGrid style="width: 100%; height: calc(100% - 60px)"  (window:resize)="onResize($event)"
        class="ag-theme-alpine"
        [rowData]="gbpacket.entities"
        [columnDefs]="columnDefs"
        [tooltipShowDelay]="0"
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="onGridRowDoubleClicked($event)"
        (filterChanged)="setSearch()">
      </ag-grid-angular>

      <div style="width: 100%; height: 50px;">
        <app-grid-page [gridNumber]="1"></app-grid-page>
      </div>

    </div>
  </div>
</div>
