<div class="serverLogsConatiner">
  <div class="serverLogsLayout whiteBoardBoax">
    <app-sub-title [title]="'Server Logs'"></app-sub-title>

    <div class="gridFilterBox">
      <div class="filter">
        <div class="label">VIN</div>
        <div class="value">
          <input type="text">
        </div>
      </div>

      <div class="filter">
        <label class="label" for="login">login</label>
        <div class="value">
          <input type="checkbox" id="login">
        </div>
      </div>

      <div class="filter">
        <label class="label" for="logout">logout</label>
        <div class="value">
          <input type="checkbox" id="logout">
        </div>
      </div>

      <div class="filter">
        <label class="label" for="RealTime">RealTime</label>
        <div class="value">
          <input type="checkbox" id="RealTime">
        </div>
      </div>

      <div class="filter">
        <label class="label" for="Addtiona">Addtiona</label>
        <div class="value">
          <input type="checkbox" id="Addtiona">
        </div>
      </div>

      <div class="filter">
        <label class="label" for="etc">etc</label>
        <div class="value">
          <input type="checkbox" id="etc">
        </div>
      </div>

      <div class="filter">
        <label class="label" for="custom">custom</label>
        <div class="value">
          <input type="checkbox" id="custom">
        </div>
      </div>


      <div class="filter">
        <div class="label">Date</div>
        <div class="value">
          <input class="datePickerText" [ngxMatDatetimePicker]="startPicker" readonly="true" (click)="startPicker.open()" [(ngModel)]="datePicker">
          <ngx-mat-datetime-picker #startPicker [showSpinners]="true" [hideTime]="false"></ngx-mat-datetime-picker>
        </div>
      </div>





      <div class="filter">
        <div class="btn">
          Search
        </div>
      </div>
    </div>

    <div class="serverLogsContents">
      <ag-grid-angular style="width: 100%; height: calc(100% - 40px)"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>


  </div>
</div>
