<div class="monitoringExtremeValueContainer">
  <div class="monitoringDetailLine">
    <div class="label">Max Volt Subsystem Num</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Max Volt Cell Num</div>
    <div class="value">2</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Cell Max Volt(V)</div>
    <div class="value">3.561</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Min Volt Subsystem Num</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Min Volt Cell Num</div>
    <div class="value">35</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Cell Min Volt(V)</div>
    <div class="value">3.555</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Max Temp Subsystem Num</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Max Temp Sensor Num</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Max Temp(°C)</div>
    <div class="value">25</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Min Temp Subsystem Num</div>
    <div class="value">1</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Min Temp Sensor Num</div>
    <div class="value">9</div>
  </div>

  <div class="monitoringDetailLine">
    <div class="label">Min Temp(°C)</div>
    <div class="value">24</div>
  </div>
</div>
