.serverLogPopup{
  min-width: 500px;
}

.serverLogRow{
  overflow: hidden;
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.serverLogKey{
  float: left;
  width: 250px;
}

.ServerLogValue{
  float: left;
  width: calc(100% - 250px);
  text-align: end;
  font-weight: bold;
  white-space : normal;
  word-wrap: break-word;
}
