<div class="detailMonitoringContainer">
  <div class="listAbsoluteBox">
    <mat-slide-toggle
        class="example-margin"
        [color]="'primary'"
        [(ngModel)]="realTimeOnOff"
        [disabled]="selectVehicle == null || mode != 'map'"
        (ngModelChange)="setRealTimeSwitch()"
        style="float: left; height: 30px;">
      Real Time!
    </mat-slide-toggle>

    <button mat-raised-button [disabled]="selectVehicleInfo == null" color="primary" (click)="vinDeSelect()" style="margin: 0 5px; height: 30px;position: absolute; right: 0;">
      <span>deselect</span>
    </button>

    <div class="listSearch">
      <div class="searchTitle" [ngClass]="{'textDisabled': selectVehicle == null || mode != 'map'}">Time</div>
      <div class="value">
        <input class="datePickerText" [ngxMatDatetimePicker]="packetTime" readonly="true" (click)="packetTime.open()"
        [(ngModel)]="startRealTime"
        [max]="currentTime"
        [disabled]="selectVehicle == null || mode != 'map' || !realTimeOnOff"
        (ngModelChange)="setTime()">
        <ngx-mat-datetime-picker #packetTime [showSpinners]="true" [hideTime]="false" [showSeconds]="true"></ngx-mat-datetime-picker>
      </div>

    </div>
    <div class="listSearch">
      <div class="searchTitle" >VIN</div>
      <input class="" [(ngModel)]="vinSearchText" (keydown.enter)="getRealtimedataVehiclelist()" (ngModelChange)="getRealtimedataVehiclelist()"
      [disabled]="selectVehicle == null || mode != 'map'" [ngClass]="{'textDisabled': selectVehicle == null || mode != 'map'}"
      (mousedown)="updateVinSearchText(vinSearchText)" (focus)="updateVinSearchText(vinSearchText)">

      <!--<div style="width:20px; margin-left: 5px; display: flex; align-items: center; cursor: pointer;" (click)="getRealtimedataVehiclelist()">
        <img src="assets/icon/find.png" style="width:20px">
      </div>-->
      <button mat-raised-button color="primary" (click)="searchButtonClick()" style="margin: 0 5px; height: 30px; position: absolute; left: calc(78% - 10px);" [ngClass]="{'selectMode': mode == 'info'}">
        <span>Search</span>
      </button>
      
    </div>
    <div class="monitoringMapList">
      <div class="listRow" *ngFor="let vehicle of vehicleInfo" (click)="clickVin(vehicle)" [ngClass]="{'selectBackground': selectVehicle == vehicle}">
        <div class="markerImage">
          <img [src]="vehicle.isLogin ? 'assets/icon/blue_marker.png' : 'assets/icon/marker_icon.png'"> 
        </div>
        <div class="listText"(click)="updateVinSearchText(vehicle.vin)">
          {{vehicle.vin}}
        </div>
      </div>
    </div>
  </div>

  <div class="monitoringNavigator">
    <div style="position: absolute; right: 0; top: 15px; z-index: 1; display: flex;">

      <!--<button mat-raised-button color="primary" (click)="openBattery($event)" [disabled]="selectVehicle == null" style="margin: 0 5px; height: 30px;">
        <span>Battery</span>
      </button>-->

      <button mat-raised-button color="primary" (click)="changeMapMode($event)" style="margin: 0 5px; height: 30px;" [ngClass]="{'selectMode': mode == 'map'}" >
        <span>Map</span>
      </button>

      <button mat-raised-button color="primary" (click)="changeInfoMode($event)" style="margin: 0 5px; height: 30px;" [ngClass]="{'selectMode': mode == 'info'}">
        <span>Info</span>
      </button>

      <button mat-raised-button color="primary" (click)="changeHistoryMode($event)" style="margin: 0 5px; height: 30px;" [ngClass]="{'selectMode': mode == 'history'}">
        <span>History</span>
      </button>

      <div (click)="moveListPage()" style="background-color: white; width: 30px; height: 30px; border-radius: 5px; cursor: pointer; margin: 0 5px;">
        <img src="assets/icon/list-interface-symbol.png" style="width: 20px; height: 20px; padding: 5px;">
      </div>
    </div>
  </div>

  <div class="infoContainer" [ngClass]="{'visibilityHidden': mode != 'info'}">
    <div class="infomationContainer">

      <div *ngIf="selectVehicleInfo == null" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; color: gray; font-size: 20px;">
        Select Vehicle
      </div>
      <div style="height: calc(100% - 50px); min-height: 760px; min-width: 1200px; margin-top: 50px;" *ngIf="selectVehicleInfo != null">
        <div class="infoList">
          <div class="listTitle">
            CAR
            <div class="popupIconBox" (click)="openInfoPopup('car')">
              <img src="assets/icon/new-window.png" style="width: 20px; height: 20px;">
            </div>
          </div>
          <div class="listContents">
            <div class="tabInforRow">
              <div class="tabLeft">accel</div>
              <div class="tabRight">{{selectVehicleInfo.car.accel}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">acceleratorVal</div>
              <div class="tabRight">{{selectVehicleInfo.car.acceleratorVal}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">brakeState</div>
              <div class="tabRight">{{selectVehicleInfo.car.breakState}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">brakeing</div>
              <div class="tabRight">{{selectVehicleInfo.car.breaking}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">chargeState</div>
              <div class="tabRight">{{selectVehicleInfo.car.chargeState}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">dcdcState</div>
              <div class="tabRight">{{selectVehicleInfo.car.dcdcState}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">driveMode</div>
              <div class="tabRight">{{selectVehicleInfo.car.driveMode}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">drivenDistance</div>
              <div class="tabRight">{{selectVehicleInfo.car.drivenDistance}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">resistance</div>
              <div class="tabRight">{{selectVehicleInfo.car.resistance}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">soc</div>
              <div class="tabRight">{{selectVehicleInfo.car.soc}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">speed</div>
              <div class="tabRight">{{selectVehicleInfo.car.speed}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">EVstate</div>
              <div class="tabRight">{{selectVehicleInfo.car.state}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">time</div>
              <div class="tabRight">{{selectVehicleInfo.car.time | dateformat}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">totalAmpere</div>
              <div class="tabRight">{{selectVehicleInfo.car.totalAmpere}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">totalVolt</div>
              <div class="tabRight">{{selectVehicleInfo.car.totalVolt}}</div>
            </div>
          </div>
        </div>
        <div class="infoList">
          <div class="listTitle">
            LOCATION
            <div class="popupIconBox" (click)="openInfoPopup('location')">
              <img src="assets/icon/new-window.png" style="width: 20px; height: 20px;">
            </div>
          </div>
          <div class="listContents">
            <div class="tabInforRow">
              <div class="tabLeft">latitude</div>
              <div class="tabRight">{{selectVehicleInfo.location.latitude}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">longitude</div>
              <div class="tabRight">{{selectVehicleInfo.location.longitude}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">state</div>
              <div class="tabRight">{{selectVehicleInfo.location.state}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">North/South</div>
              <div class="tabRight">{{selectVehicleInfo.location.nsFlag}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">East/West</div>
              <div class="tabRight">{{selectVehicleInfo.location.ewFlag}}</div>
            </div>

          </div>
        </div>

        <div class="infoList">
          <div class="listTitle">
            WARNING
            <div class="popupIconBox" (click)="openInfoPopup('warning')">
              <img src="assets/icon/new-window.png" style="width: 20px; height: 20px;">
            </div>
          </div>
          <div class="listContents">
            <div class="tabInforRow">
              <div class="tabLeft">engineTroubleCnt</div>
              <div class="tabRight">{{selectVehicleInfo.warning.engineTroubleCnt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">etcTroubleCnt</div>
              <div class="tabRight">{{selectVehicleInfo.warning.etcTroubleCnt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">flag</div>
              <div class="tabRight">{{selectVehicleInfo.warning.flag}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">maxWarning</div>
              <div class="tabRight">{{selectVehicleInfo.warning.maxWarning}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">motorTroubleCnt</div>
              <div class="tabRight">{{selectVehicleInfo.warning.motorTroubleCnt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">powerBatteryTroubleCnt</div>
              <div class="tabRight">{{selectVehicleInfo.warning.powerBatteryTroubleCnt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">warningName</div>
              <div class="tabRight">{{selectVehicleInfo.warning.warningName}}</div>
            </div>
          </div>
        </div>

        <div class="infoList">
          <div class="listTitle">
            EXTREME VALUE
            <div class="popupIconBox" (click)="openInfoPopup('extreme_value')">
              <img src="assets/icon/new-window.png" style="width: 20px; height: 20px;">
            </div>
          </div>

          <div class="listContents">

            <div class="tabInforRow">
              <div class="tabLeft">batteryMaxTempSensorCode</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxTempSensorCode}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMaxTempSubsystemNo</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxTempSubsystemNo}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMaxVolt</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxVolt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMaxVoltCellCode</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxVoltCellCode}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMaxVoltSubsystemNo</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxVoltSubsystemNo}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMinTemp</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinTemp}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMinTempSensorCode</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinTempSensorCode}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMinTempSubsystemNo</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinTempSubsystemNo}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMinVolt</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinVolt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMinVoltCellCode</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinVoltCellCode}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">batteryMinVoltSubsystemNo</div>
              <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinVoltSubsystemNo}}</div>
            </div>
          </div>
        </div>

        <div class="infoList">
          <div class="listTitle">
            MOTORS
            <div class="popupIconBox" (click)="openInfoPopup('motors')">
              <img src="assets/icon/new-window.png" style="width: 20px; height: 20px;">
            </div>
          </div>
          <div class="listContents">

            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">serialNo</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.serialNo}}
                </div>
              </div>
            </div>


            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">controllerDcBusAmpere</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.controllerDcBusAmpere}}
                </div>
              </div>
            </div>

            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">controllerTemp</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.controllerTemp}}
                </div>
              </div>
            </div>

            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">inputVolt</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.inputVolt}}
                </div>
              </div>
            </div>

            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">rpm</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.rpm}}
                </div>
              </div>
            </div>

            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">state</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.state}}
                </div>
              </div>
            </div>

            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">temp</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.temp}}
                </div>
              </div>
            </div>

            <div class="tabInforRow">
              <div class="motorsTabLeft">
                <div class="motorsLeftText">torq</div></div>
              <div style="display: flex; margin-right: 10px;">
                <div class="motorsText" *ngFor="let motor of selectVehicleInfo.motors">
                  {{motor.torq}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="infoList">
          <div class="listTitle">
            POWER BATTERY TEMPERATURES
            <div class="popupIconBox" (click)="openInfoPopup('power_battery_temperatures')">
              <img src="assets/icon/new-window.png" style="width: 20px; height: 20px;">
            </div>
          </div>
          <div class="listContents" *ngFor="let powerBatteryTemperatures of selectVehicleInfo.powerBatteryTemperatures">
            <div class="tabInforRow">
              <div class="tabLeft">subsystemNo</div>
              <div class="tabRight">{{powerBatteryTemperatures.subsystemNo}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">tempProbeCnt</div>
              <div class="tabRight">{{powerBatteryTemperatures.tempProbeCnt}}</div>
            </div>
          </div>

          <div class="listContents" *ngIf="selectVehicleInfo.powerBatteryTemperatures.length == 0">
            <div style="display: flex; width: 100%; height: 240px; align-items: center; justify-content: center;">NO DATA</div>
          </div>

        </div>

        <div class="infoList">
          <div class="listTitle">
            POWER BATTERY INFOS
            <div class="popupIconBox" (click)="openInfoPopup('power_battery_infos')">
              <img src="assets/icon/new-window.png" style="width: 20px; height: 20px;">
            </div>
          </div>
          <div class="listContents" *ngFor="let powerBatteryInfos of selectVehicleInfo.powerBatteryInfos">
            <div class="tabInforRow">
              <div class="tabLeft">ampere</div>
              <div class="tabRight">{{powerBatteryInfos.ampere}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">cellCnt</div>
              <div class="tabRight">{{powerBatteryInfos.cellCnt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">frameSequenceCnt</div>
              <div class="tabRight">{{powerBatteryInfos.frameSequenceCnt}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">frameSequenceNo</div>
              <div class="tabRight">{{powerBatteryInfos.frameSequenceNo}}</div>
            </div>

            <div class="tabInforRow">
              <div class="tabLeft">volt</div>
              <div class="tabRight">{{powerBatteryInfos.volt}}</div>
            </div>
          </div>

          <div class="listContents" *ngIf="selectVehicleInfo.powerBatteryInfos.length == 0">
            <div style="display: flex; width: 100%; height: 240px; align-items: center; justify-content: center;">NO DATA</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="historyContainer" [ngClass]="{'visibilityHidden': mode != 'history'}">
    <div class="historyGridContainer">
      <div class="gridFilterBox" style="margin-left:20px">

        <div class="filter">
          <div class="label">Subject</div>
          <select [(ngModel)]="historySubject" style="border: 1px solid #9b9b9b; border-radius: 5px; height: 30px; width: 200px;">
            <option [value]="'CAR'">Car</option>
            <option [value]="'MOTOR'">Motor</option>
            <option [value]="'FUELBATTERY'">Fuel Battery</option>
            <option [value]="'ENGINE'">Engin</option>
            <option [value]="'LOCATION'">Location</option>
            <option [value]="'EXTREMEVALUE'">Extreme Value</option>
            <option [value]="'WARNING'">Warning</option>
            <option [value]="'POWERBATTERYINFO'">Power Battery Info</option>
            <option [value]="'POWERBATTERYTEMPERATURE'">Power Battery Temperature</option>
            <option [value]="'USERDEFINE'">User Define</option>
          </select>
        </div>

        <div class="filter">
          <div class="label">Begin</div>
          <div class="value">
            <input class="datePickerText" [ngxMatDatetimePicker]="historyStart" readonly="true" (click)="historyStart.open()" [(ngModel)]="historyStartDate" [max]="historyEndDate">
            <mat-icon matDatepickerToggleIcon style="cursor: pointer;"  (click)="historyStartDate = undefined">clear</mat-icon>
            <ngx-mat-datetime-picker #historyStart [showSpinners]="true" [hideTime]="false" [showSeconds]="true"></ngx-mat-datetime-picker>
          </div>
        </div>
        <div class="filter">
          <div class="label">End</div>
          <div class="value">
            <input class="datePickerText" [ngxMatDatetimePicker]="historyEnd" readonly="true" (click)="historyEnd.open()" [(ngModel)]="historyEndDate" [min]="historyStartDate">
            <mat-icon matDatepickerToggleIcon style="cursor: pointer;" (click)="historyEndDate = undefined">clear</mat-icon>
            <ngx-mat-datetime-picker #historyEnd [showSpinners]="true" [hideTime]="false" [showSeconds]="true"></ngx-mat-datetime-picker>
          </div>
        </div>

        <div class="filter">
          <p><mat-checkbox [color]="'primary'" formControlName="additional" (change)="setAdditional($event)">additional</mat-checkbox></p>
        </div>

        <div class="filter">
          <div class="btn" (click)="setSearch()">
            Search
          </div>
        </div>
      </div>

      <div class="grid">
        <ag-grid-angular #vinHistoryGrid style="width: 100%; height: calc(100% - 60px)"  (window:resize)="onResize($event)"
          class="ag-theme-alpine"
          [rowData]="historyDataList"
          [columnDefs]="columnDefs"
          [tooltipShowDelay]="0"
          [rowSelection]="'single'"
          (rowDoubleClicked)="onGridRowDoubleClicked($event)"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>

        <div style="width: 100%; height: 50px;">
          <app-grid-page [gridNumber]="1"></app-grid-page>
        </div>
      </div>
    </div>
  </div>

  <div class="mapContainer"  [ngClass]="{'visibilityHidden': mode != 'map'}">
      <div class="infoBox" cdkDrag cdkDragBoundary=".detailMonitoringContainer" >
        <div class="infoBoxTitle" [ngClass]="{'titleGray': isPanelOnOff}" (click)="panelOnOff()"  >
          <!--<div class="infoBoxHandle" cdkDragHandle (click)="$event.stopPropagation()">
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          -->
          <div class="infoBoxTitleText">
            Battery & Speed
          </div>
          <div class="infoBoxTitleArrow" [ngClass]="{'onContentsImage': isPanelOnOff}">
            <img src="assets/icon/panelArrow.png">
          </div>
        </div>
        <div class="inforBoxContent" [ngClass]="{'contentsActive': isPanelOnOff}">

          <div class="infoBatteryContainer" (click)="openBattery($event)">
            <div class="title">
              <div class="label">
                Battery
              </div>
              <div class="value">
                {{soc}} %
              </div>
            </div>

            <mat-progress-bar
              [mode]="'determinate'"
              [value]="soc"
              [bufferValue]="75">
            </mat-progress-bar>
          </div>



          <!--<div id="batteryChartContiner" ></div>-->
          <div class="infoSppedContainer">
            <div class="title">
              <div class="label">
                Speed
              </div>
            </div>
          </div>
          <div id="speedChartContiner"></div>
        </div>
      </div>

      <div class="informationAbsoluteBox">

        <div *ngIf="selectVehicleInfo == null" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; color: gray; font-size: 20px;">
          Select Vehicle
        </div>

        <div style="width:100%; height:100%;" *ngIf="selectVehicleInfo != null">
          <mat-tab-group style="height: 100%;">
            <mat-tab label="CAR">

              <div class="tabList">
                <div class="tabInforRow">
                  <div class="tabLeft">accel</div>
                  <div class="tabRight">{{selectVehicleInfo.car.accel}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">acceleratorVal</div>
                  <div class="tabRight">{{selectVehicleInfo.car.acceleratorVal}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">brakeState</div>
                  <div class="tabRight">{{selectVehicleInfo.car.brakeState}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">braking</div>
                  <div class="tabRight">{{selectVehicleInfo.car.braking}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">chargeState</div>
                  <div class="tabRight">{{selectVehicleInfo.car.chargeState}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">dcdcState</div>
                  <div class="tabRight">{{selectVehicleInfo.car.dcdcState}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">driveMode</div>
                  <div class="tabRight">{{selectVehicleInfo.car.driveMode}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">drivenDistance</div>
                  <div class="tabRight">{{selectVehicleInfo.car.drivenDistance}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">resistance</div>
                  <div class="tabRight">{{selectVehicleInfo.car.resistance}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">soc</div>
                  <div class="tabRight">{{selectVehicleInfo.car.soc}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">speed</div>
                  <div class="tabRight">{{selectVehicleInfo.car.speed}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">EVstate</div>
                  <div class="tabRight">{{selectVehicleInfo.car.state}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">time</div>
                  <div class="tabRight">{{selectVehicleInfo.car.time | dateformat}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">totalAmpere</div>
                  <div class="tabRight">{{selectVehicleInfo.car.totalAmpere}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">totalVolt</div>
                  <div class="tabRight">{{selectVehicleInfo.car.totalVolt}}</div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="LOCATION">
              <div class="tabList">
                <div class="tabInforRow">
                  <div class="tabLeft">latitude</div>
                  <div class="tabRight">{{selectVehicleInfo.location.latitude}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">longitude</div>
                  <div class="tabRight">{{selectVehicleInfo.location.longitude}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">state</div>
                  <div class="tabRight">{{selectVehicleInfo.location.state}}</div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="WARNING">
              <div class="tabList">
                <div class="tabInforRow">
                  <div class="tabLeft">engineTroubleCnt</div>
                  <div class="tabRight">{{selectVehicleInfo.warning.engineTroubleCnt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">etcTroubleCnt</div>
                  <div class="tabRight">{{selectVehicleInfo.warning.etcTroubleCnt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">flag</div>
                  <div class="tabRight">{{selectVehicleInfo.warning.flag}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">maxWarning</div>
                  <div class="tabRight">{{selectVehicleInfo.warning.maxWarning}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">motorTroubleCnt</div>
                  <div class="tabRight">{{selectVehicleInfo.warning.motorTroubleCnt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">powerBatteryTroubleCnt</div>
                  <div class="tabRight">{{selectVehicleInfo.warning.powerBatteryTroubleCnt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">warningName</div>
                  <div class="tabRight">{{selectVehicleInfo.warning.warningName}}</div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="EXTREME VALUE">
              <div class="tabList">

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMaxTempSensorCode</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxTempSensorCode}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMaxTempSubsystemNo</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxTempSubsystemNo}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMaxVolt</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxVolt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMaxVoltCellCode</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxVoltCellCode}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMaxVoltSubsystemNo</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMaxVoltSubsystemNo}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMinTemp</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinTemp}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMinTempSensorCode</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinTempSensorCode}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMinTempSubsystemNo</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinTempSubsystemNo}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMinVolt</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinVolt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMinVoltCellCode</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinVoltCellCode}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">batteryMinVoltSubsystemNo</div>
                  <div class="tabRight">{{selectVehicleInfo.extremeValue.batteryMinVoltSubsystemNo}}</div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="MOTORS">
              <div class="tabList">
                <div class="tabInforRow">
                  <div class="tabLeft">controllerDcBusAmpere</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].controllerDcBusAmpere}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">controllerTemp</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].controllerTemp}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">inputVolt</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].inputVolt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">rpm</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].rpm}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">serialNo</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].serialNo}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">state</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].state}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">temp</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].temp}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">torq</div>
                  <div class="tabRight">{{selectVehicleInfo.motors[0].torq}}</div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="POWER BATTERY TEMPERATURES">
              <div class="tabList" *ngFor="let powerBatteryTemperatures of selectVehicleInfo.powerBatteryTemperatures">
                <div class="tabInforRow">
                  <div class="tabLeft">subsystemNo</div>
                  <div class="tabRight">{{powerBatteryTemperatures.subsystemNo}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">tempProbeCnt</div>
                  <div class="tabRight">{{powerBatteryTemperatures.tempProbeCnt}}</div>
                </div>
              </div>


              <div class="tabList" *ngIf="selectVehicleInfo.powerBatteryTemperatures.length == 0">
                <div style="display: flex; width: 100%; height: 240px; align-items: center; justify-content: center;">NO DATA</div>
              </div>

            </mat-tab>
            <mat-tab label="POWER BATTERY INFOS">
              <div class="tabList" *ngFor="let powerBatteryInfos of selectVehicleInfo.powerBatteryInfos">
                <div class="tabInforRow">
                  <div class="tabLeft">ampere</div>
                  <div class="tabRight">{{powerBatteryInfos.ampere}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">cellCnt</div>
                  <div class="tabRight">{{powerBatteryInfos.cellCnt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">frameSequenceCnt</div>
                  <div class="tabRight">{{powerBatteryInfos.frameSequenceCnt}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">frameSequenceNo</div>
                  <div class="tabRight">{{powerBatteryInfos.frameSequenceNo}}</div>
                </div>

                <div class="tabInforRow">
                  <div class="tabLeft">volt</div>
                  <div class="tabRight">{{powerBatteryInfos.volt}}</div>
                </div>
              </div>

              <div class="tabList" *ngIf="selectVehicleInfo.powerBatteryInfos.length == 0">
                <div style="display: flex; width: 100%; height: 240px; align-items: center; justify-content: center;">NO DATA</div>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="map" id="map"></div>
  </div>
</div>
