.detailMonitoringContainer{
  width: 100%;
  height: 100%;
  position:relative;
  min-width: 1640px;
}

.detailMonitoringContainer .firstLeftLayout{
  margin-left: 0 !important;
}

.detailMonitoringContainer .firstTopLayout{
  margin-top: 0 !important;
}

.detailMonitoringContainer .detailMonitoringLayout{
  width: calc(33% - 30px);
  height: calc(33% - 30px);
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;

}

.detailMonitoringContainer .detailMonitoringLayout app-sub-title{
  position: absolute;
}

.detailMonitoringContainer .detailMonitoringLayout .layoutZoom{
  position: absolute;
  top: 10px;
  right: 10px;
}

.detailMonitoringContainer .detailMonitoringLayout .layoutZoom img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.detailMonitoringContainer .detailMonitoringLayout .contents{
  display: block;
  margin-top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.map{
  width: calc(100% - 10px) !important;
  height: 100% !important;
  position: absolute !important;
  margin: 0 0 0 10px !important;
}

.infoBox{
  position: absolute;
  right: 10px;
  top: 60px;
  z-index: 2;
}

.infoBoxTitle{
  padding: 10px;
  background-color: #ffffff;
  background-color: rgba(185, 185, 185, 0.3);
  display: flex;
  align-items: center;
  min-width: 100px;
  cursor: pointer;
}

.infoBoxHandle{
  margin-right: 10px;
  cursor: all-scroll;
}


.infoBoxTitle:hover{
  background-color: rgba( 255, 255, 255, 0.3 );
}

.titleGray{
  background-color: rgba( 255, 255, 255, 0.3 );
}

.infoBoxTitleText{
  color: white;

}

.infoBoxTitleRight{
  position: absolute;
  right: 40px;
}


.infoBoxTitleArrow{
  width: 15px;
  height: 15px;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  transition: all ease 0.2s;
}

.infoBoxTitleArrow img{
  width: 100%;
  height: 100%;
}

.inforBoxContent{
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.contentsActive{
  max-height: 500px;
}

.onContentsImage{
  transform: rotate( 180deg );
}

#speedChartContiner,
#batteryChartContiner{
  width: 240px;
  height: 240px;
  background-color: white;
  /*background-color: #1b1826;*/
  /*background-color: rgb(16, 12, 42);*/
}

#batteryChartContiner div canvas{
  cursor: pointer;
}

.listAbsoluteBox{
  width: 250px;
  height: calc(100% - 40px);
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  padding: 20px 10px;
  border: 1px solid #ebebeb;
}

.listSearch{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(131, 131, 131);
}

.searchTitle{
  width: 30px;
  margin-right: 10px;
  font-size: 12px;
}

.listSearch input{
  width: 200px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  height: 25px;
  padding: 0;
  margin: 0;
}

.monitoringMapList{
  width: 100%;
  height: calc(100% - 120px);
}

.listRow{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  cursor: pointer;
}

.listRow:Hover{
  background-color: rgb(226, 226, 226);
}

.markerImage{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.markerImage img{
  width: 100%;
  height: 100%;
}

.selectBackground{
  background-color: rgb(226, 226, 226);
}

.textDisabled{
  color: rgb(211, 211, 211);
}

.informationAbsoluteBox{
  width: 500px;
  right: 0;
  bottom: 0;
  height: 30%;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px;
}

.tabInforRow{
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}

.tabLeft{
  position: absolute;
  z-index: 1;
  left: 10px;
}

.tabRight{
  position: absolute;
  z-index: 1;
  right: 10px;
  color: black;
  font-weight: bold;
}

.tabList{
  width: 100%;
  overflow: scroll;
}

.visibilityHidden{
  display: none;
  visibility: hidden;
  max-height: 0;
}

.historyContainer,
.infoContainer{
  width: 100%;
  height: 100%;
}

.historyGridContainer,
.infomationContainer{
  margin-left: 290px;
  width: calc(100% - 288px);
  height: 100%;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
}

.infomationContainer{
  overflow: scroll;
}

.datePickerText{
  width: 130px;
  padding: 0 10px;
  margin: 0 10px;
  border: 1px solid #9b9b9b;
  height: 25px;
  border-radius: 5px;
}

.grid{
  width: 100%;
  height: calc(100% - 50px);
}

.infoList{
  width: calc(33% - 20px);
  height: calc(33% - 25px);
  min-height: 250px;
  min-width: 375px;
  padding: 10px;
  float: left;
  overflow: auto;
  border-bottom: 5px solid #dbdbdb;
}

.listTitle{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
}

.listContents{
  overflow: auto;
}

.popupIconBox{
  position: absolute;
  right: 0;
  cursor: pointer;
}

.motorsText{
  width:145px;
  text-align: end;
  float: left;
  font-weight: bold;
}

.motorsTabLeft{
  margin-left: 10px;
  /* width: 200px; */
  width: 100%;
  min-width: 200px;
}

.motorsLeftText{
  width: 200px;
}

.selectMode{
  background-color: white;
  color: black;
}

.value{
  display: flex;
  align-items: center;
  justify-content: center;
}
